[2016-11-04 19:27] CasiOo opened #5 "[question] CSS Style bindings security"
What security considerations have been made when it comes to allowing bindings in css?

Will there be any default binding encoding, just like we know it from using `${foo}` in html?
Is the developer expected to only bind trusted data?
Is it only allowed to bind property values that will be escaped (difficult to get right)?

There are so many ways of doing attacks through css, so I'm interested in

[2016-11-04 20:47] EisenbergEffect commented on #5
It's definitely up to the developer what they bind. The style engine uses the same binding engine and parser as the rest of Aurelia. The string interpolation logic is just re-used straight from the binding library.

[2016-11-04 20:47] #5 closed

[2016-11-04 21:51] adriatic opened #6 "App app-ux-showcase fails to build"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
Chrome 54.0.2840.71 m|

* **Language:**

**Current behavior:**
[code]

[2016-11-04 21:54] EisenbergEffect commented on #6
You will need to use the Aurelia CLI. It should be `au build`.

[2016-11-04 21:54] #6 closed

[2016-11-04 21:59] adriatic commented on #6
Are you aware that the [README file](https://github.com/aurelia/ux/blob/master/README.md) says `npm run build`?

[2016-11-04 22:46] EisenbergEffect commented on #6
It must be another copy/paste error. Sorry. One moment.

[2016-11-04 22:47] EisenbergEffect commented on #6
I don't see it in the showcase app repo. In the actual ux library repo it uses an npm build script though.

[2016-11-04 22:48] EisenbergEffect commented on #6
`au build` should work. I would use `au run` if you want to see the app. You would need to npm install all the libraries first and run that from within the repo, making sure you have the cli installed.

[2016-11-04 23:52] adriatic commented on #6
My sincere apologies as I managed to confuse `https://github.com/aurelia/app-ux-showcase` with `https://github.com/aurelia/ux` so I used the wrong README. Obviously retirement time where I just sit and look through the window is approaching rapidly.

[2016-11-04 23:55] adriatic commented on #6
Whatever little I could see in

![image](https://cloud.githubusercontent.com/assets/2712405/20025806/95a19742-a2c8-11e6-8b6a-f7d26f7e7e0a.png)

shows a lot of style!

[2016-11-04 23:56] EisenbergEffect commented on #6
There's not much there but we've got a good foundation we can work with the community on to build.

[2016-11-09 01:28] inhuman-programmer opened #8 "Ux components from the community"
Making ux components is going to take a long time. do you need any help from the community? If yes, I am willing to help to make Aurelia great. I absolutely love material design and I'm sure the community, including me will be capable of making rich ux components that will just need to be tested before put to production. With such a great foundation i think it's a great idea. Please let us know if

[2016-11-09 01:34] bigopon commented on #8
I think the call is already there:
[Introducing aurelia-ux](http://blog.aurelia.io/2016/11/04/introducing-aurelia-ux/)

[2016-11-09 02:37] EisenbergEffect commented on #8
We would love the community involved. That goes for all of Aurelia, but especially the new library. If there's a component you are interested in working on, create an issue for that and then lets start specing out the design there.

[2016-11-09 02:37] #8 closed

[2016-11-09 21:28] inhuman-programmer opened #9 "Feature list"
A list of features such as a table of features [here](https://github.com/angular/material2/blob/master/README.md) would be useful for the community so we can contribute in making UX components.

 I personally will start creating ux components at the start of December, as right now I have something else to do, but others and I would probably love such a table table, allowing us to make this ux quic

[2016-11-10 21:32] foureggs opened #11 "New ux component boilerplate"
If you want the community to make custom ux components used in production, you should make some kind of a boilerplate for a custom component that we can just download and build a new component with, so components made by different people follow the same code structure.

This would make it more readable for the aurelia ux team, allow us to make components faster and let you implement them quicker w

[2016-11-10 21:34] shannonhorn commented on #11
great idea and it's in the works. we'll introduce UX component guidelines / best practices and a boilerplate to use to get started.

[2016-11-10 22:33] inhuman-programmer commented on #11
I guess I will wait until you guys release it, let us know somewhere when it's done, maybe blog.aurelia.io would be a good place.

[2016-11-11 02:24] EisenbergEffect commented on #11
Sounds like a plan :)

[2016-11-11 02:25] EisenbergEffect commented on #9
We're planning to start putting this together soon :) Thanks for the feedback.

[2016-11-12 11:47] inhuman-programmer opened #12 "CSS ${} theming"
I use visual studio and the main problem that I came across when developing is using ${} syntax in CSS, what causes red underlines suggesting incorrect syntax. Is there any extension for vs code to fix this? Thanks.

[2016-11-12 16:15] khuongduybui commented on #12
There's already an official Aurelia VSCode extension, which ships with a custom Aurelia HTML syntax. Perhaps we can add a custom Aurelia CSS syntax to the extension as well?

https://github.com/aurelia/vscode-extension/

[2016-11-12 18:02] EisenbergEffect commented on #12
I'm going to close this and open an issue on the vs code plugin. I'll try to talk to someone on the VS tools team at Microsoft about adding support for this in the VS Aurelia plugin.

[2016-11-12 18:02] #12 closed

[2016-11-15 15:26] llicht opened #13 "Arbitrary selector names in devtools"
**I'm submitting a feature request**

* **Library Version:**
0.1.14

* **Browser:**
Chrome 54 & Firefox 49

**Current behavior:**
CSS selector names like "styles.some-descriptive-selector-name" are converted by Aurelia UX to arbitrary names like ".node_au_ux_12" and ".base_node_au_ux_13", and these are what's shown in the browsers' devtools. (In the above browser versions, at least)

**Expected/de

[2016-11-15 15:29] EisenbergEffect commented on #13
We can change the format of the name, but we do need to always attach a unique id onto it since we cannot assume there isn't foreign css on the page (or another instance of the same app) that might conflict.

[2016-11-17 05:04] EisenbergEffect commented on #9
Here's the start: https://github.com/aurelia/ux/wiki/Feature-List
We'll expand this list over time of course.

[2016-11-17 05:04] #9 closed

[2016-11-17 05:06] EisenbergEffect opened #15 "ux-button"
Implement the `ux-button` component for Material and iOS design.

[2016-11-17 14:06] AStoker opened #16 "ux-switch"
Implement the `ux-switch` component for Material and iOS design.
### TODO:
- [ ] iOS (In Progress) ([Gist example](https://gist.github.com/AStoker/4bad8d87c5ed04e510ca60495936d86a))
- [ ] Material ([Gist example](https://gist.github.com/AStoker/c71b0c25d10b602762e92cd16afc576e))
- [ ] Accessibility
- [ ] Demo/Documentation

Gist examples are just to help give a visual idea and basic DOM implementa

[2016-11-17 19:03] llicht opened #17 "Not all js files are bundled via aurelia-cli"
**I'm submitting a bug report**

* **Library Version:**
0.1.14

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **NPM Version:**
3.10.9

**Current behavior:**
When using Aurelia-cli to bundle aurelia-ux (e.g. in the same way app-ux-showcase does), the following js files end up not being bundled but are still attempted to be loaded by aurelia-ux at runtime:
ux-button

[2016-11-17 19:05] AStoker commented on #17
Not sure of this solves your problem, but according to the build commands for the UX repo, you need to run `npm run build` That should build all your files.

[2016-11-17 19:07] AStoker commented on #17
Assuming you have the Aurelia UX project in the same directory as your App-UX-Showcase project, a list of instructions to build UX components and bring them over to the showcase to test would be:
- UX: `npm run build`
- Showcase: `au update-ux`
- Showcase: `au run`

This is currently what I'm doing, and appears to work fine for me.

[2016-11-17 19:21] llicht commented on #17
To clarify, this issue doesn't prevent app-ux-showcase (or other aurelia-ux apps) from running normally, it just causes the browser to depend on files in node_modules.
To see this, you can temporarily rename node_modules to something else (**after** doing 'au run', of course) and see that the browser is no longer able to launch app-ux-showcase.

I'm reporting the issue because once you try to use

[2016-11-17 19:30] AStoker commented on #17
Thanks for clarifying. I'm able to reproduce this. Do you have any ideas as to why this would be happening? A PR for a fix would be awesome!

[2016-11-17 21:29] EisenbergEffect commented on #17
I'm aware of the issue. It has to do with the Aurelia-UX index not exporting everything yet so the full code can't be traced. It will be fixed at the library level. It should also be fixable at the app level using resources.

[2016-11-18 11:17] Ganbin commented on #11
Aurelia-CLI generator could make the deal? But of course some guidelines will be helpful.

[2016-11-19 23:08] inhuman-programmer opened #18 "[question] Mobile apps"
When this ux came out, I was surprised that I will finally be able to make mobile apps with aurelia, but there are no examples showing aurelia ux on mobile.

Does anyone know where to find any examples of it working with Cordova/...?

[2016-11-20 00:22] shannonhorn commented on #18
very sorry but you'll have to wait a little longer. it's being developed now and is not at that level yet.

[2016-11-20 03:02] EisenbergEffect commented on #18
I'll add a few more things to our master feature list to track this. We don't have the actual Cordova piece in place yet, only the detection of the presence of Cordova which we then use to detect the native platform.

[2016-11-20 03:02] #18 closed

[2016-11-22 21:52] fkleuver opened #19 "ux-select"
I worked with both Aurelia and Materialize for a while now, and I'd love to help out with a component or two.

Recently I've made a sort of dropdownlist/autocomplete combo in Aurelia.

I'm doing something similar to what Materialize.js is doing, which discards the `select` and builds a custom list from scratch.

It responds to different UI events like `arrow up`/`down` (or `mouse wheel`) for selec

[2016-11-23 06:11] EisenbergEffect commented on #19
We would really like to have au-select :)  For a first pass, I wouldn't blend in anything related to auto-complete. I'd just work on the core component.

One thing we'd love to be able to do is have the markup work like a normal select. So, ux-select would have ux-option elements inside them. Inside of each ux-option element would be the template for rendering out that option. They you'd also be a

[2016-11-23 16:02] fkleuver commented on #19
Sounds like a plan :)

How about unit tests though? I'd like to unit test it but I don't see any existing tests in the `ux` project.

[2016-11-23 16:42] EisenbergEffect commented on #19
We don't have any yet. I'd like to have some. We have our testing library to help out with that. There may be some challenges with using it with the new style system. I'm not sure. If you encounter those, let me know so we can look into it.

[2016-11-23 17:19] fkleuver commented on #19
Fair enough, I'll give it a shot. Do you have any objections against me adding a `wallaby.js` configuration? I'll try to make it work with karma also, I just prefer wallaby myself.

[2016-11-23 21:20] EisenbergEffect commented on #19
No objections :)

[2016-11-23 23:44] shannonhorn opened #20 "ux-slider"
Implement the ux-slider component for Material and iOS design.

[2016-11-24 06:50] Vheissu opened #21 "ux-radio"
Implement the ux-radio component for Material and iOS design.

[2016-11-24 06:51] Vheissu commented on #21
I'll take this one @EisenbergEffect if you can assign it to me.

[2016-11-24 06:51] Vheissu opened #22 "ux-checkbox"
Implement the ux-checkbox component for Material and iOS design.

- [x] Material Design
- [ ] iOS Design

[2016-11-24 06:51] Vheissu commented on #22
I'll take this one @EisenbergEffect if you can assign it to me.

[2016-11-24 13:23] fkleuver commented on #19
It's not really possible to style a `select` element without resorting to things like this to disable the default style:

[code]

Which is not supported by all browser/versions, I believe. Do you guys have any guidelines with respect to minimum browser support?

Would it otherwise be an idea to have an opt-in `browser-default` mode like materializecss and then use a list for more customizations?

[2016-11-24 14:37] Thanood commented on #19
JFI I'd like to note that MDL (v2) also provides an optional native select implementation.
IMO it's good practice to provide a native select, f.i. for mobile browsers.

[2016-11-24 15:50] shannonhorn commented on #19
agreed. if there are other minimal browser requirements documented, rob can direct us to those.

[2016-11-24 16:23] fkleuver commented on #19
@Thanood I am currently using the select from http://materializecss.com/forms.html as a basis. It has a custom list by default and the option to use native select. Guess I'll stick to that for now?

[2016-11-24 16:34] Thanood commented on #19
@fkleuver I'm indifferent about the Materialize approach since you basically need a css class (which is btw. working more as an identifier) to switch to basic default behaviour. Maybe there are better ways to achieve this.

My personal ideal would be, when using the native version, just a css class which styles the native select to look a bit more like the current theme (maybe an attribute which a

[2016-11-24 16:37] fkleuver commented on #19
@Thanood Yea that makes sense, it also keeps the first iteration simpler. Thanks for your suggestion :)

[2016-11-24 18:36] EisenbergEffect commented on #19
One important feature is that we want to be able to provide an arbitrary template for the items in the list. That's something that can't be done with a native select. For accessibility we may need to have a hidden select internally which we populate with text versions of the templated items somehow.

[2016-11-24 18:50] fkleuver commented on #19
@EisenbergEffect Regarding the unit tests, I get this error when trying to configure the plugin from within unit tests:

If I skip plugin configuration altogether, pretty much everything works fine except the style bindings themselves. The generated classes are appended to `document.head` but they do not end up in the element's `classList`.

Can this be related to the different versions in `packag

[2016-11-24 19:01] fkleuver commented on #19
@EisenbergEffect Regarding the template for the items in the list, I thought about doing this with a wrapped `slot` element and then injecting its `innerHTML` into the item template. But I can't just set the `innerHTML` property of the item template, it would need to be compiled also.

I've worked around this before by wrapping the raw html in `<template></template>` and passing that to an `Inline

[2016-11-24 19:06] Thanood commented on #19
Maybe with viewCompiler and viewSlots. I've done this for a tree-view. It's not the best or anything but works and afaik it performs well.

[2016-11-24 19:39] EisenbergEffect commented on #19
I'm away from my machine now but I can send you a basic sample of how to do
this tomorrow probably.

On Nov 24, 2016 11:06 AM, "Daniel Bendel" <notifications@github.com> wrote:

[2016-11-24 19:54] fkleuver commented on #19
I made this one before: https://github.com/fkleuver/aurelia-starter/blob/master/src/resources/elements/dynamic-html.ts

Could use that one as-is like so: `<dynamic-html html.bind="html" />` but it feels like that wouldn't be much better than just using `compose`.

If it is (idk about the overhead of having to compile a custom element that encapsulates such logic), though, then wouldn't it be more

[2016-11-26 15:05] jdanyow commented on #19
here's a pure Aurelia autocomplete with the accessibility stuff working in case it helps with building the select element:

https://gist.run/?id=acf8253329939b2e046cd0e3394351fe

[2016-11-26 17:05] fkleuver commented on #19
That will certainly help, thanks!

[2016-11-28 02:13] fkleuver commented on #19
Here's a demo of the last commit: http://fkleuver.azurewebsites.net/#/selects
ux: https://github.com/fkleuver/ux/tree/ux-select
app-ux-showcase: https://github.com/fkleuver/app-ux-showcase/tree/ux-select

What works
- Native and a custom mode
- Custom options matcher
- Specify which option property to use for display
- Custom option template (needs to be escaped, for now)

What's still missing
- S

[2016-11-28 04:21] EisenbergEffect commented on #19
I'd like to see a markup like this work so it's closer to the native:

[code]

[2016-11-28 04:23] shannonhorn commented on #19
I like that concept too. We've worked extensively with Select2, Selectize, etc. Most client apps require additional information / markup for each option and this would accommodate that.

[2016-11-28 14:33] fkleuver commented on #19
I agree. I'm thinking I should get rid of the intermediate collection thing altogether, because it doesn't really make things easier the way I hoped it would. So having no default markup for the options (you always have to specify it) is OK?

[2016-11-28 18:35] jdanyow commented on #19
I do see some benefit with aligning the markup with the native select element but doing so sends us in a direction where we have to deal with synchronization with the repeat that will inevitably be used to render the select options. It also takes away our control over virtualization which will be huge in reducing the number of DOM elements (especially when there are multiple ux-selects on a page a

[2016-11-28 19:10] fkleuver commented on #19
I have tried the native approach, but it creates other challenges. I could try to tackle those but I don't know if that will result in a "good" solution.

An example, given this markup:

    <ux-select value.bind="value" native-mode.bind=false>
        <ux-option repeat.for="option of options" model.bind="option">
            <h5>${option.text}</h5>
        </ux-option>
    </ux-select>

You get t

[2016-11-28 19:20] fkleuver commented on #19
@EisenbergEffect I think I could do it your way if there is a reliable method to retain the bindingContext in which the items are declared, or merge it into `ux-select`'s bindingContext. Then an option would be to add a `processContent` decorator to `ux-select` and skip compiling the itemTemplate, so `ux-select` itself can take care of compiling the item template with repeat.for and all.

[2016-11-29 16:41] llicht commented on #13
I'm sorry - I just realized this already works correctly. (node & base_node were my selector names - I'm not sure how I missed this before)

[2016-11-29 16:41] #13 closed

[2016-12-01 20:12] fkleuver commented on #19
@EisenbergEffect @jdanyow The more I think about it, the more I'm leaning towards a "html generator" approach. Possibly even allowing the user to set the raw HTML property directly, if they wish. The added flexibility opens up all sorts of possibilities and I don't see any issues with supporting the usage methods mentioned so far.

Are there any factors I'm overseeing that make this a no-no, or sh

[2016-12-01 22:37] EisenbergEffect commented on #19
I'm open to anything just about. We can experiment and see what we think works best. Are you aware of the `@processContent(...)` hook?

[2016-12-01 23:26] jdanyow commented on #19
The one concern I have is the impact of rendering all the options out to the DOM, especially when the item-templates are complex or there are a lot of items. Off the cuff I'd bet on an approach that uses the template-part functionality and only renders the 10 or 15 options that are visible in the drop-down's view-port, only when the drop-down is open. This will be a potentially massive reduction i

[2016-12-02 04:45] EisenbergEffect commented on #19
That's a good argument and it definitely supports the notion of having an items-source. Let's go with that. We don't necessarily need to use template parts though either. We could assume that the content of the ux-select is the template. Then we could use the processContent hook to extract it and compiler it into a view factory. It could even be auto-wrapped in a container element as part of that

[2016-12-05 15:26] AbraaoAlves opened #24 "[suggestion] Typestyle alternative to manage variables on css"
**I'm submitting a feature request**
Typestyle support

* **What is the expected behavior?**
Share variables with type safe

* **What is the motivation / use case for changing the behavior?**
Safe, ease manage and easy refactory. [And much more ... ](http://typestyle.io/#/why)

[2016-12-05 19:16] khuongduybui opened #25 "UX-Button Icon Type"
Simply ```<ux-button type="flat fab"/>``` should give me a round (fab) button with no box shadow (flat).
This can be used for [mini secondary actions inside a list](https://material.google.com/components/lists.html#lists-actions).

Here's how I implemented it in my own project (which consumes aurelia/ux):
[code]

[2016-12-05 19:45] moodledan commented on #25
Material Design has guidelines for the use of [shadows/elevation](https://material.google.com/material-design/elevation-shadows.html#) so I'd be tempted to include it (not include it) in the same way as swatches.

Pseudo code used below to demonstrate:

Perhaps a `shadows.ts` containing:

[code]

Then update `material-design.ts` with:

[code]

.. finally in you could then update the `ux-button-the

[2016-12-05 20:04] moodledan commented on #24
@AbraaoAlves have you seen this lib [postcss](http://postcss.org) and [cssnext](http://cssnext.io/)?

Also this very useful blog post with details on how to make use of the above within an Aurelia app: [Using tomorrow’s CSS with Aurelia (typescript) and PostCSS](https://www.eriklieben.com/using-tomorrows-css-with-aurelia-typescript-and-postcss/)

I guess I'm waiting on some docs around implementat

[2016-12-05 22:44] EisenbergEffect commented on #25
Bingo! Sounds great. Would you mind submitting a PR?

[2016-12-05 23:06] moodledan commented on #25
Sure, I'll mock it out over the next couple of days.

[2016-12-06 10:31] moodledan commented on #25
See PR here: https://github.com/aurelia/ux/pull/26

[2016-12-06 14:25] EisenbergEffect commented on #25
Thanks! We'll take a look shortly.

[2016-12-06 17:53] khuongduybui commented on #25
So, assuming the PR is approved, my flat fab button style will now look like this?
[code]

[2016-12-07 07:05] EisenbergEffect commented on #24
You can use whatever you want in your own apps. The component library itself needs special capabilities internally.

[2016-12-07 07:05] #24 closed

[2016-12-16 06:17] xiwc commented on #11
I have found lots of UX impl base on Angular rect vue, but aurelia. It's cool if there is one based on aurelia.

Now our project use semantic-ui & aurelia. It's not comfortable because of i have do lots of init work for UI.

[2016-12-17 17:46] lmj0011 opened #28 "ux.design is undefined"
**I'm submitting a bug report**

* **Library Version:**
0.1.14

**Please tell us about your environment:**
* **Operating System:**
Linux (Xubuntu)

* **Node Version:**
6.2.0

* **NPM Version:**
6.9.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.39

* **Browser:**
Chrome 55

* **Language:**
ESNext

**Current behavior:**

I installed aurelia-ux and followed importing it into my project as it is done

[2016-12-23 02:11] khuongduybui commented on #28
Can you post your aurelia.json?

[2016-12-28 05:02] lmj0011 commented on #28
[code]

[2017-01-04 21:51] moodledan opened #30 "Build fails"
**I'm submitting a bug report**

* **Library Version:**
aurelia-ux 0.1.14

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.5

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
N/A

* **Language:**
TypeScript 2.1.4

**Current behavior:**
When running `npm run build` the following error is thrown, `npm i

[2017-01-08 20:51] verbedr commented on #30
I have noticed this too ... there are 3 small typescript errors. After you fix this these, the build still fails on the creation of the documentation. So I have updated the build script and fixed some configuration. And it now builds on my version.

Although I'm not sure about the result. All my dist files are changed so I assume something more fundamental has changed (e.g. typescript .... I'm usi

[2017-01-09 04:48] khuongduybui commented on #17
@EisenbergEffect How do I fix this "at the app level using resources"? I'm bundling node_modules/aurelia-ux/* along in my distribution for the time being but a less intrusive way is highly appreciated.

[2017-01-09 08:58] verbedr commented on #30
Forget about the zip file check pull request #31

[2017-01-09 23:16] stephenlautier opened #32 "Theme property input binding not working as css var"
**I'm submitting a bug report**

* **Library Version:**
0.1.14

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1

**Current behavior:**
Passing a `foreground` color to the `ux-button` su

[2017-01-10 17:10] verbedr commented on #32
I don't think that it works like you are expecting it to work. The css is a requirement but the values are defaulted to the current style or will fall-back to a design setting. The 'foreground' property is not binded to the control and the button control has no way to set a specific colour .

Anyway this doesn't mean that we should not have this functionality of course. But since I to just recentl

[2017-01-10 20:05] khuongduybui commented on #17
Never mind, I just figured out that we can add ".js" files into "resources" array as well.

[2017-01-10 20:06] stephenlautier commented on #32
@verbedr not entirely sure either, however other properties such as `type` within [ux-button-theme](https://github.com/aurelia/ux/blob/master/src/button/ux-button-theme.ts#L5) thats how its used (as in thats how its [passed as an input](https://github.com/aurelia/app-ux-showcase/blob/master/src/components/buttons.html#L17)), and a property which is named `foreground` i assumed its use the same way

[2017-01-10 20:22] moodledan commented on #32
I'm not sure why but based on the template the 'foreground' property isn't used in the way the `type` property is.

Theres no binding set in the [ux-button](https://github.com/aurelia/ux/blob/master/src/button/ux-button.ts) component either so adding a `ux-button` with a foreground attribute won't do anything as far as I can tell.

However there must be a reason why `public foreground: string;` is

[2017-01-10 21:05] verbedr commented on #32
@stephenlautier I think I found it. You need to bind against the theme property and either provide a theme name or object ... something like this

<ux-button theme.bind="{ foreground: 'blue' }"></ux-button>

[2017-01-10 21:10] moodledan commented on #32
@verbedr nice!

[2017-01-10 21:34] verbedr commented on #32
@moodledan yes I saw that and traced it back to its usage. Still need to work out what exactly would happen when you specify a theme name. I guess you can add the inline theme objects as a resource and reference them. But this is an educated guess ...

[2017-01-10 21:41] stephenlautier commented on #32
@verbedr cool thanks! i've tested that and it works :).

What i found confusing is they are both defined in the same way but the usage is different, I dont know how they are handled differently.

[2017-01-10 23:18] verbedr commented on #32
@stephenlautier
I guess you are partly right, it is part of the UX design and is achieved by convention and by decorators.

- theme is bindable because at ux-button.ts its decorated like that.
`@bindable public theme = null;`
- By convention every component has a ...-theme component (ux-button and ux-button-theme)
- And this is all wired up by a style-factory making sure that the correct values en

[2017-01-11 01:11] stephenlautier commented on #32
@verbedr thanks for the explanation  👍

[2017-01-11 06:35] #32 closed

[2017-02-15 21:42] ZHollingshead opened #33 "ux-input"
I am interested in working on this control.

I started the process of switching one of our applications where I work over to Aurelia and we also plan on implementing the Aurelia UX library. Since I will be developing these controls anyways, I figure I may as well develop them once and contribute to the project instead of developing once, and replacing that work later as the components are implemen

[2017-02-15 21:45] EisenbergEffect commented on #33
For some reason the list didn't come through. Can you add that again? We'd love to have you as a contributor!

[2017-02-15 22:16] ZHollingshead commented on #33
Interesting, let me add that one more time then.

My current list of features I would want to add, simply because we need them are:
- Minimum and Maximum Character Counter
- Input Labels
- Error Messages
- Input Icons
- Various Input Types (Password, Numeric, Email, Etc.)

[2017-02-15 23:45] EisenbergEffect commented on #33
I"d love to have you work on this. Regarding any sort of error messages, I'd want to make sure this integrates nicely with our Aurelia Validation library. For labeling, we need to consider both Material and iOS styles. I would like to keep the label as something separate that could decorate the control, if possible, in order to provide max flexibilty.

So you should be able to just use

[code]

bu

[2017-02-16 15:40] ZHollingshead commented on #33
I was thinking along similar lines. Should we strive to keep the Aurelia Validation library from being a dependency of Aurelia UX?

Also, would the au-field fit more with the Form Layout & Labels feature?

[2017-02-16 16:25] EisenbergEffect commented on #33
We don't need to creat a dependency but rather consider how we could plug
in our validation library as part of the design.

On Feb 16, 2017 7:40 AM, "Zacharey Hollingshead" <notifications@github.com>
wrote:

[2017-02-19 15:11] ZHollingshead commented on #33
I have some basic functionality completed.

[code]

Current style classes are: _single-line_ and _full-width_ which are implemented from the Material Design specs. The input-counter attribute just toggles on a counter for the input which can be dynamic to simply give a count, or a characters remaining view if _max_ is defined on the ux-input.

And here are a couple screenshots from the ux-showcase

[2017-02-20 18:33] EisenbergEffect commented on #33
That seems pretty straight forward and easy to use. I don't see the need to make any changes there. Keep up the great work!

[2017-02-21 21:15] ZHollingshead commented on #33
For integrating with the validation library, I feel we can just pass in a list of ValidateResult instances, and display the top most error present. If we do that I can have the standard attributes such as minlength, required, etc add to the list internally to display errors as well.

Something like this

[code]
![image](https://cloud.githubusercontent.com/assets/22172935/23185102/c83f43d2-f847-11e

[2017-02-22 05:30] EisenbergEffect commented on #33
@jdanyow What do you think?

[2017-02-22 16:18] jdanyow commented on #33
Here's what's needed to make a custom data-entry component integrate with validation seamlessly:

1. The component should have only one two-way bindable "value" property.
2. `change` events fired by input(s) within the custom element should be re-fired by the custom element.
3. When the custom element loses focus it should fire a `blur` event.

Pretty easy for components like uxinput which have on

[2017-03-01 20:33] ZHollingshead commented on #33
Since the change event already bubbles, I did not add that. But I did go ahead and add the blur event. I am doing some code cleanup at the moment but attached some screenshots from the working version used in the showcase at the bottom.

Working Branch: https://github.com/ZHollingshead/ux/tree/ux-input

Error messages are not automatic, but they are pretty easy to add.

[code]

The input counter s

[2017-03-06 20:55] trondhindenes opened #35 "Examples for use with JS?"
It would be really sweet to have some documentation and/or example apps written in JS.

[2017-03-06 21:40] ZHollingshead commented on #35
We could add an example for setting up Angular UX in the [Showcase Application](https://github.com/aurelia/app-ux-showcase) fairly quickly for both Javascript and Typescript. At this point are not any Typescript specific portions of the code that could not be just copied over from what I found.

I think the following could be added quickly:
- Setup and start using Aurelia UX
- Code examples on acc

[2017-03-06 22:15] lukelarsen commented on #35
I would love that. I'm working on a team where I'm the designer and I work with css primarily. Have an example of this I could try to run with would be great.

[2017-03-07 13:17] ZHollingshead commented on #35
I went ahead and setup a demo project here: https://github.com/ZHollingshead/ux-js-example/tree/master

This is a very bare bones setup with no extra features outside of a hello world page that also has a UX Button control added.

To see exactly what is involved to add this to the project look at the following commit: [Add Aurelia UX](https://github.com/ZHollingshead/ux-js-example/commit/ef2fd39c8

[2017-03-07 22:30] trondhindenes commented on #35
Great, thanks!!

[2017-03-08 22:47] ZHollingshead opened #36 "ux-textarea"
Implement the ux-textarea component for Material and iOS design.

- [ ] iOS
- [x] Material
- [x] Demo/Documentation

[2017-03-08 22:48] ZHollingshead commented on #36
@EisenbergEffect I can tackle this, it lines up with the ux-input component.

[2017-03-09 03:12] EisenbergEffect commented on #36
Sounds good. FYI I haven't forgotten about your input contribution. Thanks for helping out on this!

[2017-03-09 05:01] khuongduybui opened #37 "Typo in swatch lightBlue => lgithBlue"
https://github.com/aurelia/ux/blob/a769f71ac2e0ffcc741910c46d9ffe56669e302b/src/colors/swatches.ts#L115

[2017-03-09 13:06] ZHollingshead commented on #36
I did not figure you had, I saw all the releases from the core Aurelia project so I know you have been very busy.

For this control, I feel the code will be nearly identical to the ux-input component. So do we want it to be its own component or would we like it to take the form of adding an attribute to the ux input component such as `<ux-input multi-line>`.

[2017-03-09 16:12] khuongduybui commented on #36
Between adding this as an attribute vs. a separate component, what would be easier if I later want to "upgrade" my <ux-textarea> with "rich-text" or "syntax-highlighting" attributes?

[2017-03-09 16:58] ZHollingshead commented on #36
Accessing the base textarea control underneath will be the same in either scenario.

Though with it as a separate control it would ensure that you are always accessing a textarea element without needing to check that there is a `multi-line` attribute attached first.

The more I think about it, it probably is best they be separate components as listed since a couple attributes from the `ux-input` e

[2017-03-09 17:49] EisenbergEffect commented on #36
Let's do it as a separate component for now. I like the idea of mapping one-to-one to standard html elements as well. That will make it easier to learn.

[2017-03-11 23:26] aradjdi commented on #16
I can help to build Material and iOS of that component if you aware with that.

[2017-03-12 00:56] EisenbergEffect commented on #16
Sounds great! Go for it :)

[2017-03-16 15:27] #37 closed

[2017-03-16 18:57] ZHollingshead commented on #30
Has there been any progress on this? I have the same issue everytime I pull down a fresh branch but the fixes in #31 resolve those issues.

[2017-03-16 19:05] verbedr commented on #30
I didn't got any feedback. The PR contains mostly small fixes, I only had to reconfigure typescript to accept the Any keyword. Think this is a new option within the typescript compiler but I'm not sure what the current position is within the aurelia community.

[2017-03-16 19:07] verbedr commented on #30
Perhaps we need to ask @EisenbergEffect to poke @jdanyow again?

[2017-03-16 19:11] ZHollingshead commented on #30
I am able to get the builds to work without the changes to the `tsconfig.json` file if that is of any help. I am not sure if anything changed that would effect this since you submitted the PR, or if it is an environment thing.

[2017-03-16 20:49] moodledan commented on #30
I'm still getting errors when trying to build, I checked out a fresh copy of Master a few moments ago, same errors as previously reported [https://github.com/aurelia/ux/issues/30#issue-198820069](https://github.com/aurelia/ux/issues/30#issue-198820069)

[code]
Following is from npm-debug.log

[code]

[2017-03-16 20:56] ZHollingshead commented on #30
Right, those are Typescript errors. Pull Request #31 fixes those errors but it has not been pulled into the master yet pending a discussion.

[2017-03-16 21:01] moodledan commented on #30
Thanks @ZHollingshead

[2017-03-16 22:08] verbedr commented on #30
It took me some time but I figured it out. I was using TS 2.1.4 which had this bug in it https://github.com/Microsoft/TypeScript/issues/12822. After upgrading to TS 2.1.6 I could build without problems. I have pushed that change into the PR.

[2017-03-17 15:06] ZHollingshead commented on #36
Pull request #39 made for this.

[2017-03-17 15:15] ZHollingshead opened #40 "form layout & labels"
Implement the form layout & labels components for Material and iOS design.

[2017-03-17 15:28] ZHollingshead commented on #40
@EisenbergEffect I can tackle this one next.

Just looking here is what I have identified so far:
* Form control groups
* Labels to pair with controls
* A quick way for a form to reset all inputs
* A submit event for the form

Here are the pieces I have identified.
`ux-form` for groups
`ux-form-group` for grouping together labels and input components.
Questions I have are:
* Should this include an

[2017-03-17 17:45] EisenbergEffect commented on #40
Excellent. I would like to be able to handle basic layout such as label positioning as appropriate for Material vs. iOS design languages.

[2017-03-17 18:08] EisenbergEffect commented on #40
@ZHollingshead Can you email me? You can find my email in my GitHub profile. Thanks!

[2017-03-17 18:21] ZHollingshead commented on #40
@EisenbergEffect Sure. I do not see your email on your profile, just your website. I have mine on my profile as well.

[2017-03-17 18:23] EisenbergEffect commented on #40
Ah funny. Sorry. You can use the one from the site.

On March 17, 2017 at 11:21:58 AM, Zacharey Hollingshead (
notifications@github.com) wrote:

@EisenbergEffect <https://github.com/EisenbergEffect> Sure. I do not see
your email on your profile, just your website. I have mine on my profile as
well.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2017-03-17 18:33] ZHollingshead commented on #40
@EisenbergEffect Not there either. Here is mine. zach.hollingshead@gmail.com

[2017-03-17 18:35] EisenbergEffect commented on #40
Ok, cool. Thanks :)

[2017-03-21 20:57] khuongduybui opened #41 "<ux-textarea> leaves a closing </template> inside the generated <textarea>"
I think that's because this tag uses a self-closing signature while HTML5 expects <textarea> to have a separate ending:
https://github.com/aurelia/ux/blob/master/src/textarea/ux-textarea.html#L4

The </template> on line 8 ends up being treated as inside content of <textarea>.
The browser then adds </textarea> and </template> for the non-closing tags.

[2017-03-21 21:15] ZHollingshead commented on #41
I have verified this behavior and am fixing it now.

[2017-03-21 21:25] #41 closed

[2017-03-21 22:40] khuongduybui commented on #36
This issue can be closed now. (Tested by me, good enough 🤣)

[2017-03-21 22:53] ZHollingshead commented on #36
This issue will likely stay open since it also encompasses the iOS design which is not yet complete.

[2017-03-22 03:38] khuongduybui commented on #41
Please also note that this bug makes `createTemplateFromMarkup()` (from `aurelia-pal`) throw an error when trying to load `ux-textarea.html` from resources (embedded using `requirejs/text`).

[2017-03-25 21:00] #30 closed

[2017-03-25 21:17] ZHollingshead opened #43 "lint failing"
**I'm submitting a bug report**

* **Library Version:**
0.1.16

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.4

* **NPM Version:**
4.1.2

* **Language:**
TypeScript 2.2.1

**Current behavior:**
lint operation errors with the following output

[code]

[code]

**Expected/desired behavior:**

For `npm run lint` to pass

[2017-03-25 23:00] jdanyow commented on #43
@ZHollingshead thanks for taking this on! :muscle: :boom:

[2017-03-25 23:02] khuongduybui commented on #43
Most of the lint errors should be automatable, such as `let => const` or `<Type>handle => handle as Type`. I wonder if there are editor plugins that would do this for us, 🤔

[2017-03-25 23:22] ZHollingshead commented on #43
@khuongduybui That is what most of them were, I did them by hand just to be sure nothing crazy happened.

Changes are available on PR #44

[2017-03-26 01:55] #43 closed

[2017-03-26 16:24] khuongduybui opened #45 "ux-input types"
**I'm submitting a bug report**

* **Library Version:**
latest

**Please tell us about your environment:**
irrelevant

**Current behavior:**
[code]

**Expected/desired behavior:**
* **What is the expected behavior?**
There are a few more types that do not require special rendering: `email`, `url`, `tel`, `search`, etc.

* **What is the motivation / use case for changing the behavior?**
Most browse

[2017-03-26 16:25] khuongduybui commented on #45
[code]

[2017-03-26 17:33] ZHollingshead commented on #45
This would not be a hard change if we are okay with letting the browser format the input for now.

[2017-03-26 17:39] khuongduybui commented on #45
The types I listed are rendered just like a type=text.
There are other types like range, date, month, datetime, datetime-local... They each is rendered differently, which we can add support for gradually. I can take on that task unless you prefer to assign that to yourself. Anyway that's beyond the scope of this issue.

[2017-03-26 17:40] verbedr commented on #45
Why do we want to limit the user? If they specify a wrong type the browser will fall back to text anyway. We could also take a more open approach and only reject types that are superseded by other ux controls.

`if (['button', 'submit', 'reset'].indexOf(('' + this.type).toLowerCase()) > -1) {
    this.type = 'text';
}`

Just my 2 cents ...

[2017-03-26 19:29] ZHollingshead commented on #45
I like the idea of being explicit on what is allowed so we do not add restrictions later down the line such as `datetime`, which will have its own component.

@EisenbergEffect what are your thoughts on this?

[2017-03-26 20:25] EisenbergEffect commented on #45
I would prefer to be explicit for now, since this library is still in its earlier stages. We can evolve this over time as we determine how we want to handle other types.

[2017-03-26 20:29] ZHollingshead commented on #45
@khuongduybui if you want to create a PR for this that would be awesome. Otherwise, I will probably get to this later today.

[2017-03-30 02:34] #45 closed

[2017-03-31 14:51] ZHollingshead commented on #40
If you were going to be using a form component, what features would you expect/desire it to have? For example, would you want a form made for Aurelia to post to a method on the view model?

[2017-03-31 18:48] Ma3yTa opened #48 "Take a look https://adarshpastakia.github.io/aurelia-ui-framework/#/inputs/basic"
Take a look https://adarshpastakia.github.io/aurelia-ui-framework/#/inputs/basic

[2017-03-31 19:52] ZHollingshead commented on #48
This would go great as a comment under #33 or in our [gitter](https://gitter.im/aurelia/Discuss) channel.

Going to go ahead and close this since this is not addressable. Thanks for the suggestions!

[2017-03-31 19:52] #48 closed

[2017-04-01 23:37] khuongduybui commented on #40
Maybe look at this for some inspiration: https://aurelia-form.spoonx.org/

[2017-04-05 13:04] ZHollingshead commented on #22
@Vheissu are you still working on this? I am looking to snag a couple quick components to knock out.

[2017-04-05 18:43] kennyfowler opened #50 "[suggestion] dont use .css extension for non-valid dynamic css files"
today i tried aurelia-ux with the aurelia-webpack-skeleton, this currently doesnt work, i wasnt able to dig deeper into the issues, but one thing seemed to be clear: dynamic css files are not valid css, so they cannot be processed by css loaders; second: the common way to configure loaders is to pass the file extension, which is .css. i know there are ways to exclude files, but with the current we

[2017-04-06 02:39] ZHollingshead commented on #25
It does not look like this is supported functionality yet. This would be easy to implement, though I do have a couple concerns.

Flat by Google's Material guidelines referring to a button does not mean a button has no shadow, it means it has no background either, basically just a clear button.

[Material Design Guidelines - Buttons](https://material.io/guidelines/components/buttons.html)

Another

[2017-04-06 02:42] ZHollingshead commented on #28
Is this still happening?

[2017-04-06 02:47] lmj0011 commented on #28
I don't know, I'm not using the lib anymore.

[2017-04-06 02:47] lmj0011 commented on #28
going to close for now

[2017-04-06 02:47] #28 closed

[2017-04-06 09:42] bsrdjan commented on #33
Regarding validation messages, two questions.

If the empty space below the input field is not created in advance, when validation errors appear, they push the content below the input field down, just like in showcase app input example with Email validation.

I find it visually disturbing and was thinking about showing just an icon, inside the input field for example, which on user action like cli

[2017-04-06 11:30] ZHollingshead commented on #33
I agree being flexible is good. That is why displaying validation is not handled strictly inside of UX. It does happen to have support baked into the `ux-input-info` component to display errors in the same place as the hint text but other than that this functionality is handled outside of UX.

I do not think it would be hard to modify the Validation Renderer I came up with to render an error icon

[2017-04-06 11:33] ZHollingshead commented on #33
To add onto this, Icon Handling is still being researched so if it is decided that an icon with errors is a good path to take, then we will need to figure that out before we can implement that. It is something that is on my radar as a couple other items I want to take care of need the icon support.

[2017-04-06 12:17] ZHollingshead commented on #25
As a follow up to this, there is actually a section that directly talks about flat fabs.

[Material Design Guidelines - Shadows](https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows)

It goes as far as to list the exact heights that should be used for its shadows.

[2017-04-06 16:22] ZHollingshead opened #51 "ux-tag-input"
A simple input to manage tags and chips.

- [x] Accept a comma delimited list, or an array of strings
- [x] Return a comma delimited list, or an array of strings.
- [x] Styling and components for [Chips](https://material.io/guidelines/components/chips.html)
- [x] Styling for Tag's (More squared than a chip)
- [x] Export Chip's and Tag's so that they can be used easily outside of the editor for dis

[2017-04-08 06:56] ZHollingshead commented on #25
I pondered on this for a while and I think what would be helpful is if we had an icon type. So a button that would be only an icon but flat as you said. Doing this that way would keep us from using a FAB in a way that goes against the Material Guidelines.

I am thinking simply:
[code]

This would go well with adding Icons to UX. We could potentially add an attribute to help us here when we have an

[2017-04-08 06:58] EisenbergEffect commented on #25
Let's go for it :)

[2017-04-11 21:40] groundzero2010 commented on #21
I'd like to help out with this.

[2017-04-11 21:42] ZHollingshead commented on #21
Go for it!

[2017-04-12 14:26] serifine opened #54 "Icon Handling"
- [ ] ux-icon component

- [ ] SVG Based Icons

- [ ] Material Design Icon Set

- [ ] IOS Icon Set

- [ ] Build process to manage multiple icon sets and build the icon-map.ts file

[2017-04-12 14:27] ZHollingshead commented on #54
Through discussions so far this should use the following:
- Different icon sets for Material and iOS
- Use SVG based icons

[2017-04-12 15:16] jdanyow commented on #21
some ideas in this gist: https://gist.run/?id=a78d15898660218b8438e34dcc31f390

[2017-04-12 15:26] ZHollingshead commented on #21
So perhaps two components, one for a simple use case, one for a more complex one.

Single Radio component for simple use cases
[code]
@jdanyow multi input idea that could wrap up the original.
[code]
Thoughts?

[2017-04-12 15:40] ZHollingshead commented on #21
I will leave this here as well, from an earlier discussion on gitter.

To expand on what I copied below, the `ux-checkbox` currently will have the same bindings for the value and checked.bind, so perhaps we could have a single wrapper for both components since the binding and styles will be close if not the same.

------------

So the standard use of a radio button is:
[code]
I think there is a go

[2017-04-13 14:03] jdanyow commented on #21
@ZHollingshead re: https://github.com/aurelia/ux/issues/21#issuecomment-293614445

 two components: the radio primitive and the radio group/selector- sounds good :+1:

[2017-04-13 16:43] RichiCoder1 opened #55 "Webpack V2 Compatibility"
I'll follow up with personal testing, but is there a general idea of the level of compatibility with
the new Webpack plugin? It looks like the global resources configuration isn't using `PLATFORM` declarations at the very least, but I'm not sure what other action might need to be taken.

/cc @jods4

[2017-04-13 17:42] cluka commented on #55
The Global Resources configuration does work, if by global resources you mean this:
[code]

You just have to use `PLATFORM.moduleName('modeule')`

[2017-04-13 17:43] cluka commented on #55
I have completed my migration form old webpack to the new webpack plugin. And with a bit of tweak, everything works perfectly.

[2017-04-13 18:35] RichiCoder1 commented on #55
I'm more specifically referring to:
https://github.com/aurelia/ux/blob/master/src/index.ts#L23

Nice! What tweaks if I may ask? Just `PLATFORM.moduleName`-related changes?

[2017-04-13 18:44] cluka commented on #55
Yes, that's PLATFORM.moduleName-related changes
Ie. for aurelia-bootstrap, and aurelia-dialog, I had to manually specify each required sub-components in my webpack.config.js like this:
[code]
I think this will not be required when all aurelia's plugins implement the PLATFORM.moduleName, but until then...

Yes that is it,
Basically, it just come to this:
everywhere you use module names like in ie.

[2017-04-14 04:27] #55 closed

[2017-04-14 17:36] LarsKemmann opened #57 "Office Design Language"
**I'm submitting a feature request**

* **Language:**
TypeScript 2.2

**Expected/desired behavior:**
I'd like to see Office Design Language supported. I've seen "Microsoft" and "Windows" references elsewhere in this project. I think the Office Design Language is slightly distinct from those, being more specific to certain types of applications. It also has a very active set of projects including [

[2017-04-15 04:09] EisenbergEffect commented on #57
At Microsoft I've connected with the Microsoft Web Framework team and shown them Aurelia and started talking about possibilities. The MWF team makes a set of components that match Microsoft's official design language and syncs with updates in design, such as Project Neon.

I haven't connected the the Office Fabric team yet. I'll try to find the right person to talk to about that.

If you would lik

[2017-04-15 15:36] LarsKemmann commented on #57
Thanks @EisenbergEffect! It sounds like I need to wait for that infrastructure to be in place before I can really contribute. That'll actually give me a chance to work with the Office Fabric and/or MWF components for now and just figure out how to data-bind them with Aurelia. That's probably enough of a challenge for right now.

[2017-04-17 14:57] AlbertoMonteiro opened #58 "Missing script"
**I'm submitting a bug report**

* **Operating System:**
Windows [10]

* **Node Version:**
7.8.0

* **NPM Version:**
4.4.4

**Current behavior:**

[code]

* **What is the expected behavior?**

Run the **test-watch** npm script

[2017-04-17 15:52] EisenbergEffect commented on #58
@ZHollingshead I think this is just a typo. Can you confirm?

[2017-04-17 16:17] AlbertoMonteiro commented on #58
@EisenbergEffect I am trying to run to see those components visually, how can I walk through for those components in browser?

[2017-04-17 16:18] ZHollingshead commented on #58
That is correct. There is no `test-watch` command. Our build commands mirror Aurelia/Validation.

To run tests:
[code]
To run tests in watch mode:
[code]

These will not prove very useful though, currently as there is no test directory and therefore no tests to pass or fail.

[2017-04-17 16:19] ZHollingshead commented on #58
@AlbertoMonteiro to see the components visually take a look at https://github.com/aurelia/app-ux-showcase

The instructions to get the showcase up and running are in the readme.md on the main page. I hope this helps!

[2017-04-17 16:21] AlbertoMonteiro commented on #58
@ZHollingshead I already downloaded this repo, it works fine, but how is the best way to test my new component that I am creating in AureriaUX?
The app-ux-showcase points to npm package, I am working localy.
I am new in aurelia plugin development, so I dont know those best practices.

[2017-04-17 16:36] ZHollingshead commented on #58
@AlbertoMonteiro so to develop for both of them here is what I do.

First, make sure your `aurelia-ux` and `aurelia-ux-showcase` folders are in the same directory. Something like:
[code]

Once this is done and both projects are set up, when you make new changes run `au update-ux` from the showcase application. This will copy the built aurelia-ux files into the correct npm folder.

Before you build

[2017-04-17 17:26] ZHollingshead opened #60 "chip input editor freezes chrome when removing a chip"
**I'm submitting a bug report**

* **Library Version:**
0.1.18

**Please tell us about your environment:**
* **Operating System:**
Windows 10 (Build 1703)

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Browser:**
all

* **Language:**
TypeScript 2.2.2

**Current behavior:**
When removing a chip the entire browser instance will freeze after getting caught in an endless loop.

**Expected/d

[2017-04-17 17:26] ZHollingshead commented on #60
To add to this, it happens when removing the last chip, and only the last chip.

[2017-04-17 17:36] #60 closed

[2017-04-17 18:30] AlbertoMonteiro commented on #58
thanks @ZHollingshead

[2017-04-17 21:01] #58 closed

[2017-04-17 21:04] ZHollingshead opened #62 "add karma testing"
Test commands currently will not work since there is no test directory or entry point for Karma.

[2017-04-18 11:43] ZHollingshead opened #64 "chip input always edits previous tag on left arrow"
**I'm submitting a bug report**

* **Library Version:**
0.1.18

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Any time the left arrow is clicked, even with content in the textbox already, the previous tag is editable.

**Expected/desired behavior:**
T

[2017-04-18 11:57] #64 closed

[2017-05-02 05:01] #25 closed

[2017-05-02 16:05] ZHollingshead opened #66 "ux-card"
Implement the `ux-card` component for Material and iOS design.

### General Todo
- [x] Material
- [ ] iOS
- [x] Accessibility
- [x] Demo/Documentation

[Material Design Guidelines - Card](https://material.io/guidelines/components/cards.html)

[2017-05-02 16:07] ZHollingshead opened #67 "ux-list"
Implement the `ux-list` component for Material and iOS design.

### General Todo
- [x] Material
- [ ] iOS
- [x] Accessibility
- [x] Demo/Documentation

[Material Design Guidelines - Lists](https://material.io/guidelines/components/lists.html)
[Material Design Guidelines - Lists Controls](https://material.io/guidelines/components/lists-controls.html)

[2017-05-02 17:02] dspublic commented on #22
@ZHollingshead I tried your ux-checkbox component with custom string value. The "delete this.checked" isn't clears the property. Would not the "this.checked=null" be better?

[2017-05-02 19:18] ZHollingshead commented on #22
@dspublic yes, it appears you are correct. I am looking into this, thanks for the catch!

[2017-05-02 19:35] ZHollingshead commented on #22
@dspublic I just pushed a fix to master.

[2017-05-03 09:22] dspublic commented on #22
@ZHollingshead Thank you for quick fix and response. Let me take a feature suggestion, what I implemented in my checkbox control.
There's a valueOn (value-on default=true) and valueOff (value-off default=false) and value (checked in your code) controll property.
If value==valueOn then value=valueOff
elseIf value==valueOff or value==null then value=valueOn
else value=null (third state)
In this case

[2017-05-03 11:49] ZHollingshead commented on #22
So if I understand correctly you would like to add additional values to be able to set a value during the unchecked state, is this correct? If so I would probably just add the unchecked state, and let value continue to represent the checked state.

[code]

[2017-05-03 12:31] dspublic commented on #22
@ZHollingshead Yes, that's correct. It's exactly what I want to suggest.
Thanks for your selfless work in this project. :-)

[2017-05-03 13:09] ZHollingshead opened #69 "ux-checkbox unchecked state value"
**I'm submitting a feature request**

**Desired behavior:**
To be able to assign a value to the checkbox components unchecked state.

[2017-05-03 13:11] ZHollingshead commented on #69
Comments from #22 that led to this

[2017-05-13 14:58] khuongduybui opened #70 "clicking on ux-checkbox label doesn't trigger a change"
HTML default behavior dictates that if you pair a `label` (using `[for]` attr) with an `input[type=checkbox|radio]` (using `[id]`), then clicking on the `label` also triggers an action on the `input`.

With `ux-checkbox`, when I click on the label, the effect is triggered (round background shape appears) but the value of the checkbox itself isn't changed.

Tested on Chrome latest, Edge latest (Cre

[2017-05-18 10:08] bsrdjan opened #71 "Microsoft platform and web browsers"
Reading https://github.com/aurelia/ux/wiki, I found no statement about supporting Microsoft platform and web browsers. Is it out of scope or what is the plan?

[2017-05-30 19:15] #17 closed

[2017-05-31 00:29] EisenbergEffect commented on #71
Microsoft browsers are supported. However, we don't currently have a plan to support Microsoft's design language. That doesn't mean we won't do it. It's just that we're doing iOS and Material design first.

[2017-05-31 00:29] #71 closed

[2017-05-31 18:10] ben-girardet opened #73 "Scopes CSS variables in Custom Elements"
**I'm submitting a feature request**

* **Library Version:**
0.1.19

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.2.2

* **NPM Version:**
3.9.5

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.29.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Aurelia UX StyleEngine is only available for AureliaUX official components (butto

[2017-05-31 18:44] ZHollingshead commented on #73
This should be accomplished by exposing the style engine.

[2017-06-01 21:58] ZHollingshead commented on #33
Documentation on binding to the disabled attribute needs to be improved.

[2017-06-02 22:09] chrsmrtn- opened #75 "ux-button click event still fires despite being disabled"
**I'm submitting a bug report**

* **Library Version:**
0.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
Neither, using Aurelia CLI

* **Browser:**
all

* **Language:**
TypeScript 2.3.4

**Current behavior:**

If the user adds the "disabled" attribute to the <ux-input></ux-in

[2017-06-05 21:08] chrsmrtn- commented on #75
The pull request is just to address the disable behavior for the button.  So when users set the disabled property on the `<ux-button></ux-button>` tag the underlying `<button></button>` tag also gets that same attribute setting. Also the button should handle this properly through the disabled attributed being changed. This was taken form the `<ux-input></ux-input>` as a working example.

However,

[2017-06-06 04:15] khuongduybui opened #77 "ux-form submit-on-enter"
**I'm submitting a bug report**

* **Library Version:**
0.2.0

**Current behavior:**
Consider the following snippet:
[code]
Whenever I hit "enter" inside either the text input (to submit) or the textarea (to get a new line), the form gets submitted.

**Expected/desired behavior:**
When I hit "enter" inside the text input, the form should get submitted.
When I hit "enter" inside the textarea for ne

[2017-06-06 05:07] khuongduybui commented on #19
any update?

[2017-06-06 19:08] #73 closed

[2017-06-06 19:08] #69 closed

[2017-06-08 21:16] chrsmrtn- opened #79 "ux-checkbox disabled behavior issues"
**I'm submitting a bug report**

* **Library Version:**
0.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
Neither, using Aurelia CLI

* **Browser:**
all

* **Language:**
TypeScript 2.3.4

**Current behavior:**

If the user adds the "disabled" attribute to the <ux-checkbox></ux

[2017-06-09 11:12] #75 closed

[2017-06-14 04:58] XuJinNet opened #81 "Use Aurelia-UX(theme) within skeleton-esnext-webpack got a error"
Hello friends, i using the newest skeleton-esnext-webpack and  aurelia-ux, but got a error when build:
[code]
I try to rename `common-ux.css` to `common-ux.css#ux`, but got another error:
[code]

main.js fragment
[code]

Node: 6.11.0
aurelia-ux: 0.2.0
skeleton-esnext-webpack: the master branch

[2017-06-14 12:58] kennyfowler commented on #81
i guess this is already known, it currently just doesn't work, webpack gathers all .css files, but the dynamic css is not valid css...  so it fails on compiling them, and the whole build fails.

see https://github.com/aurelia/ux/issues/50

[2017-06-15 04:41] EisenbergEffect commented on #81
You need webpack to treat it as text I imagine. I'm not a webpack guru though.

[2017-06-19 16:19] chrsmrtn- commented on #79
Heyo, any feedback on this one? I have a pull request for it ready to go, #80 .

[2017-06-29 09:35] manuel-guilbault opened #83 "ux-tabs"
Implement the ux-tabs and ux-tab components for Material and iOS design.

## General Todo

For Material design:
- [x] basic style
- [ ] transition animation
- [ ] automatic sizing
- [ ] text wrap and ellipsis
- [ ] overflow pagination
- [ ] support for drop down menus

For iOS design:
- [ ] basic style

[2017-06-29 09:47] manuel-guilbault commented on #83
I already have a working version. It looks like this:

[code]

[2017-06-29 15:30] RobJacobs opened #85 "[question] material-components-web"
Curious to know if consideration was given to using the material-components-web project:

https://github.com/material-components/material-components-web

They give examples for integration with Aurelia:

https://github.com/material-components/material-components-web/tree/master/framework-examples

I like the idea of using similar markup/classes regardless of the framework (like what TWBS offers).

[2017-06-30 22:46] mrazvan92 commented on #81
Have you found a solution? :(

[2017-07-02 05:52] EisenbergEffect commented on #85
The goal with Aurelia UX is to not only handle Material, but also iOS and Windows styles eventually. We're building it to take full advantage of Aurelia's templating and binding system, so we want to do it from scratch. If you like Material Components, there's no reason you can't use them in your Aurelia app though.

[2017-07-02 05:52] #85 closed

[2017-07-02 14:21] mrazvan92 commented on #81
Hello,

I found a solution :)

in **webpack.config.js**

1. add **ModuleDependenciesPlugin** dependencies

`const { AureliaPlugin } = require('aurelia-webpack-plugin');`

replace with

`const { AureliaPlugin, ModuleDependenciesPlugin } = require('aurelia-webpack-plugin');`

2. replace these rules

`{
        test: /\.css$/i,
        issuer: [{ not: [{ test: /\.html$/i }] }],
        use: extractCs

[2017-07-02 21:14] kennyfowler commented on #81
@mrazvan92 works for me on latest webpack-typescript skeleton, just had to npm install raw-loader (used in the solution). thx!

...if someone else tries this out now: i had this related issue https://github.com/aurelia/validation/issues/445#issuecomment-305650958

...deleting contents of the aurelia-ux/node_modules folder solved it

[2017-07-24 13:47] jemhuntr opened #86 "feat(icons): support for different icon providers"
Hey everyone! Good work on UX so far!

It would be a nice addition if we can support multiple icon providers.

Some icon providers on the wild:

- [Material Icons](https://github.com/google/material-design-icons)
- [FontAwesome Icons](http://fontawesome.io/icons/)
- [Apple Human Interface System Icons](https://developer.apple.com/ios/human-interface-guidelines/graphics/system-icons/)
- [Entypo](ht

[2017-07-24 14:00] jemhuntr opened #87 "question: using the styling engine separately"
Me again.

Is there a way to use the aurelia-ux styling engine without all the UX components? I would absolutely love to use the CSS importing system plus the style models without having to include all the components. I build all my components from scratch, so the components are pretty much untouched for me.

Moreover, I believe it would be cleaner if the styling engine was part of the aurelia cor

[2017-07-24 14:03] ZHollingshead commented on #87
The styling engine is specific to Aurelia UX. However, it can be used separately thanks to a recent push. Take a look at this stack overflow question.

https://stackoverflow.com/questions/44287239/using-aureliaux-on-custom-elements-with-different-values-for-each-instances

[2017-07-24 15:04] ZHollingshead commented on #86
Material Icons is currently supported and is the default set. We are planning to add IOS Icons in the future with the intention of changing based on the design language.

[2017-07-24 15:04] #86 closed

[2017-07-24 15:04] #87 closed

[2017-07-24 17:50] #79 closed

[2017-08-01 07:59] jemhuntr commented on #81
@mrazvan92 Thanks! This works for me too on a webpack-based Aurelia CLI project. :)

[2017-08-01 18:58] mrazvan92 commented on #81
@jemhuntr or you can check https://t.co/ajjHO9N1EL

[2017-08-08 12:05] fkleuver commented on #19
Apologies for not following up, I've been very busy the past 8 months. I will continue working on this in the coming weeks.

[2017-08-17 13:25] #70 closed

[2017-08-17 13:25] #77 closed

[2017-08-22 12:14] ZHollingshead opened #90 "Date/Time Picker"
Implement the ux-datepicker component for Material and iOS design.
### Todo
- [x] Material
- [x] Accessibility
- [ ] Documentation

### Design Guidelines:
- [iOS Pickers](https://developer.apple.com/ios/human-interface-guidelines/ui-controls/pickers/)
- [Material Pickers](https://material.io/guidelines/components/pickers.html)

### Features
- [x] Date range: min/start and max/end selectable dates

[2017-08-22 12:15] ZHollingshead commented on #90
Feature Ideas

- Date range: min and max selectable dates
- Time range: min and max selectable time
- Initial date: defaults to today
- Multiple select types: Date, Time, DateTime
- Disable dates: days of the week, holidays, etc
- RTL support

[2017-08-22 12:18] JoshuaVSherman commented on #90
specify start and end date, where end date cannot be before start date
time can be in 12 hour am/pm or military 24hr time

[2017-08-22 12:23] lstarky commented on #90
i18n / world language support

On Tue, Aug 22, 2017 at 6:15 AM, Zacharey Hollingshead <
notifications@github.com> wrote:

[2017-08-22 12:25] zewa666 commented on #90
@ZHollingshead date and time ranges ... absolutely would love to see that

[2017-08-22 14:33] ZHollingshead opened #91 "ux-input goes outside of specified size when full-width class is applied"
**I'm submitting a bug report**

* **Library Version:**
0.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **Browser:**
all

* **Language:**
TypeScript 2.4

**Current behavior:**
When the ux-input has the full-width class applied, the input can go outside of the container.

**Expected/desired behavior:**
The

[2017-08-22 14:35] ZHollingshead opened #92 "ux-icon should default to match the font color"
**Current behavior:**
Ux-icon component currently defaults to black or gray fill color.

**Expected/desired behavior:**
Ux-icon component should default to the font color.

[2017-08-29 03:28] khuongduybui opened #95 "Support accesskey"
The accesskey attribute is a quick way to assign shortcuts to focus an element https://www.w3schools.com/tags/att_global_accesskey.asp

Setting `accesskey` on a `<ux-input-field>` should pass the attribute through to its `<label>`.
Setting `accesskey` on a `<ux-input>` or a `<ux-button>` should pass the attribute through to its `<input>` or `<button>`.

[2017-08-29 03:33] khuongduybui opened #96 "<ux-input> placeholder isn't working with aurelia-i18n"
I tried both `<ux-input t="[placeholder]foo">` and `<ux-input placeholder.bind="foo & b">`.
The inner <input> element's placeholder attribute is empty in both cases.

[2017-08-30 02:55] khuongduybui commented on #96
Perhaps passing the `t` attribute through to the child element will trigger aurelia-i18n on both the parent and the child and solve the problem.

[2017-09-01 03:38] #96 closed

[2017-09-01 03:38] ZHollingshead commented on #96
Issue moved to [aurelia/ux-components #1](https://github.com/aurelia/ux-components/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 03:39] #95 closed

[2017-09-01 03:39] ZHollingshead commented on #95
Issue moved to [aurelia/ux-components #2](https://github.com/aurelia/ux-components/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] ZHollingshead commented on #90
Issue moved to [aurelia/ux-components #3](https://github.com/aurelia/ux-components/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] ZHollingshead commented on #91
Issue moved to [aurelia/ux-components #4](https://github.com/aurelia/ux-components/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] #91 closed

[2017-09-01 04:24] #92 closed

[2017-09-01 04:24] ZHollingshead commented on #92
Issue moved to [aurelia/ux-components #5](https://github.com/aurelia/ux-components/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] ZHollingshead commented on #83
Issue moved to [aurelia/ux-components #6](https://github.com/aurelia/ux-components/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] ZHollingshead commented on #90
Issue moved to [aurelia/ux-components #7](https://github.com/aurelia/ux-components/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:24] ZHollingshead commented on #67
Issue moved to [aurelia/ux-components #8](https://github.com/aurelia/ux-components/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #66
Issue moved to [aurelia/ux-components #9](https://github.com/aurelia/ux-components/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #54
Issue moved to [aurelia/ux-components #10](https://github.com/aurelia/ux-components/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #36
Issue moved to [aurelia/ux-components #11](https://github.com/aurelia/ux-components/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #22
Issue moved to [aurelia/ux-components #12](https://github.com/aurelia/ux-components/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #21
Issue moved to [aurelia/ux-components #13](https://github.com/aurelia/ux-components/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:25] ZHollingshead commented on #20
Issue moved to [aurelia/ux-components #14](https://github.com/aurelia/ux-components/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:26] ZHollingshead commented on #19
Issue moved to [aurelia/ux-components #15](https://github.com/aurelia/ux-components/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:26] ZHollingshead commented on #16
Issue moved to [aurelia/ux-components #16](https://github.com/aurelia/ux-components/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:26] ZHollingshead commented on #15
Issue moved to [aurelia/ux-components #17](https://github.com/aurelia/ux-components/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-01 04:27] ZHollingshead commented on #33
Issue moved to [aurelia/ux-components #18](https://github.com/aurelia/ux-components/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-02 20:23] ZHollingshead commented on #11
Issue moved to [aurelia/ux-components #22](https://github.com/aurelia/ux-components/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-02 20:23] #11 closed

[2017-09-10 01:22] ZHollingshead opened #97 "Use CSS Variable style binding"
Change binding syntax in CSS files to bind to css variables.

**What is the motivation / use case for changing the behavior?**
This will make our bindings parse as valid CSS, solving issues we currently have with Webpack and PostCSS exhibited in #50 and #81.

**Requirements**

Aurelia UX should parse the incoming stylesheet and set up and replace CSS variables at runtime.

In the future parsing of

[2017-10-06 18:48] ZHollingshead opened #99 "Enable individual installation of components"
@ZHollingshead commented on [Sat Sep 02 2017](https://github.com/aurelia/ux-components/issues/21)

As part of the move to separate the components into a separate library, each component should now include all the required pieces to make a self-packaged component that can be installed individually in the use case where a user may not want to install the entire component suite.

The following will n

[2017-10-06 18:49] ZHollingshead opened #100 "Checkbox should check with space bar press"
@ZHollingshead commented on [Wed Oct 04 2017](https://github.com/aurelia/ux-components/issues/26)

**Current behavior:**
Currently when a checkbox is selected with tab, and the spacebar is then pressed, the page scrolls instead of checking the checkbox.

**Expected/desired behavior:**
The checkbox should toggle when the spacebar is pressed.

[2017-10-06 18:49] ZHollingshead opened #101 "New ux component boilerplate"
@ZHollingshead commented on [Sat Sep 02 2017](https://github.com/aurelia/ux-components/issues/22)

Create a boilerplate for new components under the new monorepo structure.

Relies on #21.

---
@foureggs commented on [Thu Nov 10 2016](https://github.com/aurelia/ux/issues/11)

If you want the community to make custom ux components used in production, you should make some kind of a boilerplate for a

[2017-10-29 02:47] #50 closed

[2017-10-29 02:47] #81 closed

[2017-10-29 02:47] #97 closed

[2017-10-29 02:47] #99 closed

[2017-11-01 04:06] ZHollingshead opened #103 "UX Button actual size is inconsistent with visible size of button."
**I'm submitting a bug report**

* **Library Version:**
0.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10
* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **Browser:**
all

* **Language:**
TypeScript 2.6.1

**Current behavior:**

The UX Button size is larger than the visible portions of the styled inner button element. This causes sizes applied to the ux-bu

[2017-11-06 15:45] ZHollingshead opened #104 "Create components package"
The components package is to install all components at once for those that want everything included with UX.

[code]

Instead of

[code]

[2017-11-06 15:47] ZHollingshead commented on #104
Alternatively, if I could get the setup working, we could also have an `@aurelia-ux/all` package instead which contains the core and all components, which I think would be ideal. I do not think there is anything in the core that would prevent this.

@EisenbergEffect what are your thoughts?

[2017-11-06 15:53] EisenbergEffect commented on #104
I like that idea.

Sent from my iPhone

[2017-11-16 12:55] ZHollingshead opened #105 "Textarea can have border below the bottom of the box."
**I'm submitting a bug report**

* **Library Version:**
0.4.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
webpack 3.8.1

* **Browser:**
all

**Current behavior:**
Border can sometimes extend below the bottom of the UX Textarea element.

![image](https://user-images.githubuserc

[2017-11-17 18:09] #100 closed

[2017-11-17 18:09] #103 closed

[2017-11-17 18:09] #105 closed

[2017-11-17 18:44] #104 closed

[2017-11-18 17:52] jadhavajay commented on #101
@ZHollingshead & @xiwx - Is there any possible way we can use Semantic UI Framework with aurelia-ux components? Or I should stick to current way using CSS with my own aurelia components?

[2017-11-23 17:07] #101 closed

[2017-11-29 12:42] ben-girardet opened #108 "ux-button : Incorrect reference to paper-ripple.css"
**I'm submitting a bug report**

* **Library Version:**
0.4.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

Aurelia-cli with require.js

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**
The button components doesn't load properly due to false reference to the paper-ripple.css file from the

[2017-11-29 12:49] ZHollingshead commented on #108
Thanks for the submission and potential fix. I did a quick check and this bug also applies to the checkbox.

[2017-11-29 12:52] #108 closed

[2017-12-04 09:33] ben-girardet opened #109 "Remove require ux-icon-theme from ux-icon.html file"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
Aurelia CLI

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**
The icon component doesn't load properly due to false reference to the ux-icon-theme f

[2017-12-09 07:27] bigopon commented on #19
From my experience, drop-down list needs to be rendered to `body`, not the component element. Rendering list to the element gives pleasantly easy styling / positioning but will not play well within a scroll element, or placed inside overflow hidden container path.

@fkleuver Let me know if you need any help continuing the element

[2017-12-13 21:57] dudluk opened #111 "Invalid Date/Time picker template"
**I'm submitting a bug report**

* **Library Version:**
0.5.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 3.8.1

* **Browser:**
all

* **Language:**
 TypeScript X.X

**Current behavior:**
Datepicker component throws an error
`ERROR [app-router] DOMException: Failed t

[2017-12-13 23:18] #111 closed

[2017-12-14 12:54] ZHollingshead opened #114 "Remove package-lock.json from core package"
package-lock.json should not be in the repository.

[2017-12-14 12:58] ZHollingshead opened #115 "Add .npmignore to packages that do not already contain it"
The .npmignore file enables projects to exclude certain files or folders when they are uploaded to NPM, such as `tsconfig.json` or the `src` folder. This is desirable and cuts down on our package sizes.

[2017-12-14 13:06] #114 closed

[2017-12-14 13:06] #115 closed

[2017-12-15 00:46] dudluk opened #116 "Icon component ignores size set in theme"
**I'm submitting a bug report**

* **Library Version:**
0.5.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack 3.10.0

* **Browser:**
all
* **Language:**
all

**Current behavior:**
Width and height of an icon is set to 16px regardless of the value of size property set in i

[2017-12-15 01:30] #116 closed

[2017-12-15 20:09] dudluk opened #118 "ux-icon: use custom icons"
**I'm submitting a feature request**

* **Library Version:**
0.5.0

**Current behaviour:**
Component works only with named icons predefined in IconMap.

**Expected/desired behaviour:**
Component can be used with any icon or there is an api to extend default set.

* **What is the motivation / use case for changing the behavior?**
The default material icon set it's great and covers most of the cases

[2017-12-15 20:36] dudluk commented on #118
The simple solution that I could come up with would be to put `<slot></slot>` inside ux-icon.html and use custom svg icon as a content.

For example:
[code]

It solves my problem but can be too naive as a general solution.

[2017-12-15 22:49] dudluk opened #120 "ux-components: registering plug-in throws an error"
**I'm submitting a bug report**

* **Library Version:**
0.5.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack-3.8.1

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Registering plug-in @aurelia-ux/components:

[code]

throws an error:
[code]

**Expected/des

[2017-12-18 17:05] #118 closed

[2017-12-18 17:05] ZHollingshead commented on #54
I think we need to take another look at Icons soon all around. There are two points.

1. The current way this is done, through an icon map, prevents certain aspects such as letting Webpack's tree shaking decrease the file size, mostly due to the fact that the icon set is converted to a large JSON file instead of using the native SVG files.

2. Soon we will need to add support for IOS Icons, and I

[2017-12-19 16:48] ZHollingshead commented on #120
Resolved by https://github.com/aurelia/ux/commit/e7a69d2d5bdd531f05ace3f4cce4f6d40ed2b565

[2017-12-19 16:48] #120 closed

[2017-12-20 05:48] bigopon opened #122 "ux-drawer"
Is a `<ux-drawer/>` in the plan for initial release ? I'd like to play with this one. If it's in the plan, will I have to follow any specs or just copy features from somewhere ?

[2017-12-20 06:22] #122 closed

[2017-12-20 12:44] ZHollingshead commented on #19
@bigopon is going to take over development for this. It is a pretty critical piece.

[2017-12-20 12:45] ZHollingshead commented on #19
Adding this to the 0.7.0 Milestone

[2017-12-20 13:01] ZHollingshead opened #123 "UX Drawer"
A navigation drawer for layouts and app navigation.

It would be nice if this can connect to the event aggregator to be able to toggle the drawers open or closed state from anywhere in the case of non permanent drawers.

## Functional Requirements

**Types**
Permanent

Persistent (Can be collapsed)

Temporary

For temporary drawers we should be able to chose whether we would like it to open from t

[2017-12-20 13:03] ZHollingshead opened #124 "CSS Reset"
CSS Reset for Aurelia UX to enable consistent rendering across browsers.

[2017-12-20 13:04] ZHollingshead commented on #124
@EisenbergEffect I am going to pick this one up, it should be quick. Is there a particular CSS reset we have our eye on using or are we going to roll our own?

[2017-12-20 18:39] EisenbergEffect commented on #124
I dropped one in the showcase app that worked well. Can we pull it out of there and embed it into the ux core?

[2017-12-20 18:40] ZHollingshead commented on #124
Yep, sure thing.

[2017-12-20 19:45] ben-girardet commented on #124
Good idea.

Just dropping some infos here as it might be useful / interesting. I've made some tests using a combination of Aurelia UX and Bootstrap 4. I'm currently doing this with the use of a custom plugin that parse bootstrap SCSS (with a set of custom SCSS variables for the project) and merge the bootstrap config variables into Aurelia UX JS variables (with an Aurelia CLI custom task). Basical

[2017-12-20 19:53] EisenbergEffect commented on #124
I think there should be a method on the UX config object that applies the reset. It should be called as part of the default configuration, but for advanced scenarios like merging with bootstrap, it should be possible to do a manual config and not apply the reset.

[2017-12-20 20:11] ben-girardet opened #125 "ux-rich-text-editor"
What about a rich text editor in Aurelia UX. Is it a good idea or should it not be part of such a library ?

And if yes, to what degree should it or could it depend on other libraries? I've seen that most components have no dependencies except those on other aurelia modules. The datepicker depends on moment which is fair enough and moment is a widespread and maintain library.

For a rich text edit

[2017-12-20 20:19] EisenbergEffect commented on #125
For now, I'd saw this is out of scope, since there are a lot of great 3rd party editors that should integrate fine with Aurelia.

[2017-12-20 20:31] ZHollingshead opened #126 "Export themes directly from components bundle"
**What is the expected behavior?**
That the Components bundle should export all necessary themes and configuration for the components it bundles.

**What is the motivation / use case for changing the behavior?**
Currently, you have to reference the themes directly from the corresponding library (i.e. `import { UxButtonTheme } from '@aurelia-ux/button`), which may not be overly obvious to a develop

[2017-12-20 20:46] ZHollingshead opened #127 "UX Checkbox currently display outside of its bounds."
**I'm submitting a bug report**

* **Library Version:**
0.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **JSPM OR Webpack AND Version**
webpack 3.8.1

* **Browser:**
all

* **Language:**
TypeScript 2.6

**Current behavior:**
Checkbox is displaying outside of the original outline.

![image](https://user-ima

[2017-12-20 20:49] #126 closed

[2017-12-20 20:49] #127 closed

[2017-12-20 22:56] dudluk opened #128 "Icon component is not part of components package"
**I'm submitting a bug report**

* **Library Version:**
0.6.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack-3.8.1

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The ux-icon component is not part of @aurelia-ux/components package

**Expected/desired beha

[2017-12-20 23:26] ZHollingshead commented on #128
For now this is intentional. The reason behind this is the UX Icon component is very large and does not benefit from tree shaking due to the way the Icons are currently included. The Icon map is the source of the bloat at over 300kb which is larger than the rest of the library.

. | Core + Components  | Core + Components (Minified) | Core + Components + Icons | Core + Components + Icons  (Minified

[2017-12-20 23:33] dudluk commented on #128
It makes sense, I think we can close this issue then :)

[2017-12-20 23:33] #128 closed

[2017-12-21 16:51] ZHollingshead opened #129 "Global Style Engine"
**Current behavior:**
All base css variables and UX properties are added to the head in separate style tags.

![image](https://user-images.githubusercontent.com/22172935/34265725-5ee7149e-e63c-11e7-8ff0-9d8c7a58edc8.png)

* **What is the expected behavior?**

For all global styles to be in a central managed style tag.

* **What is the motivation / use case for changing the behavior?**

Currently t

[2017-12-21 18:43] EisenbergEffect commented on #129
Yes, I'd love to improve this.

[2017-12-21 20:37] bigopon commented on #19
For accessibility, there are two options to implement select list:

### [`role="menu"`](https://www.w3.org/TR/wai-aria/roles#menu)

This seems to be common implementation.
  * [React](http://www.material-ui.com/#/components/select-field)
  * [Angular](https://material.angular.io/components/select/overview)
  * [Vue](https://vuematerial.io/components/select)
  * [Material-io](https://material.io/co

[2017-12-21 21:25] ZHollingshead commented on #19
I would think that it would depend.

If the user is selecting only one item at a time, i.e. a standard select, `menu`.

If the user is allowed to select multiple attributes, i.e. `<ux-select multiple>` for a multi select, then I would think `listbox` becomes more appropriate.

If we choose only one, `listbox` would be more appropriate in my opinion because it explicitly states that it allows the u

[2017-12-22 00:15] EisenbergEffect commented on #19
@bigopon It's worth looking here: https://github.com/EisenbergEffect/aurelia-composition-demo/tree/master/src/part-composition There are some ideas there on how to use parts for list item and selected item, including syntax enhancements and APIs for simple and advanced scenarios. It might provide a good staring point. It would need quite a bit of CSS, accessibility, etc. work though.

[2017-12-23 14:01] floreseken opened #133 "Latest package on npm is 0.3"
Is there a special reason why the last few releases are not available on npm? Or are they just forgotten? I would like to use the latest version via npm.

tnx

[2017-12-23 14:08] floreseken commented on #133
Oh wait.. I get it.. I should install @aurelia-ux/components  right?
This is somewhat confusing..

[2017-12-23 14:08] #133 closed

[2017-12-26 19:41] #129 closed

[2017-12-26 19:42] #124 closed

[2018-01-02 17:23] ZHollingshead opened #134 "CSS Variables need fallbacks put in"
Not having fallback values in our CSS Variables causes certain Webpack setups to fill the console with warnings. All CSS Variables should have a fallback.

![image](https://user-images.githubusercontent.com/22172935/34492961-4d730502-efaf-11e7-9a7f-95e5927c71eb.png)

Offending lines
[code]

[2018-01-02 17:29] ZHollingshead opened #135 "UX Checkbox does not fire a change event"
UX Checkbox does not fire a change event, and thus `change.delegate` and `change.trigger` do not work. This is due to the fact that UX Checkbox does not use a native control and does not trigger its own changed event when the checkbox is toggled.

[2018-01-03 12:24] ZHollingshead opened #136 "UX Switch does not fire a change event"
UX Switch does not fire a change event, and thus change.delegate and change.trigger do not work. This is due to the fact that UX Switch does not use a native control and does not trigger its own changed event when the switchis toggled.

[2018-01-03 12:25] ZHollingshead opened #137 "UX Radio does not fire a change event"
UX Radio does not fire a change event, and thus change.delegate and change.trigger do not work. This is due to the fact that UX Radio does not use a native control and does not trigger its own changed event when the radio is selected.

[2018-01-03 12:28] #135 closed

[2018-01-03 19:55] #134 closed

[2018-01-03 19:55] #136 closed

[2018-01-03 19:55] #137 closed

[2018-01-03 20:57] ZHollingshead opened #138 "ux-grid"
Add UX Grid component for Aurelia UX and utility classes for responsive applications. Based on a 12 column system.

**Breakpoints**
Extra Small - 480px and smaller.
Small - Larger than 480px, smaller than 960px.
Medium - Larger than 960px, smaller than 1280px.
Large - Larger than 1280px, smaller than 1925px.
Extra Large - Larger than 1925px.

[code]

[Material Guidelines - Responsive UI](https://m

[2018-01-04 02:19] bigopon opened #140 "Ux components & user input subscription"
At the moment, we declared a `value` field with `@bindable({ defaultBindingMode: bindingMode.twoWay })` for user input (`ux-input`, `ux-textarea`, `ux-select` [i'm doing this]). I think we should follow the way we subscribe to built-in inputs: dispatch `change` event to notify subscribers. To do this, `Ux-core` needs to provide a method to intercept `determineDefaultBindingMode`  at [here](https:/

[2018-01-05 04:21] bigopon commented on #140
I think the combination of `observable`, change handler should do it.

[2018-01-05 10:07] bigopon commented on #140
After re-thinking about tihs a bit, I still think that we need to notify subscribers via events

[2018-01-05 12:42] ZHollingshead commented on #140
There are some very common events that will need to be considered so I can see where you are coming from. Input (and now radio and checkbox) benefit from using a native component underneath, so most events that they are expected to have bubble up from the native implementation.

[2018-01-06 19:26] ZHollingshead opened #142 "UX-Card"
Create the UX Card component.

This should integrate with the UX Grid system to enable laying out the cards responsively without needing to surround the card with a div.

** Tasks **
- [x] Accessibility
- [x] Integration with Ux Grid to allow placement of a card without a cell
- [x] Material Design
- [x] Documentation

[2018-01-08 18:26] #138 closed

[2018-01-17 03:13] jemhuntr opened #143 "0.7.0: can't use ux-core out-of-the-box"
**I'm submitting a bug report**

* **Library Version:**
0.7.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.3

* **NPM Version:**
5.6.0

* **JSPM OR Webpack AND Version**
webpack 3.6.0

* **Language:**
TypeScript 2.6.2

**Current behavior:**
importing `@aurelia-ux/core` results in a cssReset exception:

	ERROR in ./node_modules/@aurelia-ux

[2018-01-17 07:04] ZHollingshead commented on #143
A fix for this is pending. The issue lies in that the reset.css file did not get copied during the build so it was never pushed to NPM. This should be resolved very quickly.

[2018-01-18 05:45] jemhuntr commented on #143
Gotcha, thanks for the hard work on UX! :)

[2018-01-18 13:23] danserbanoiudev commented on #143
Hello,

What is the latest working version of the library that I can temporarily import in a project that doesn't have this issue while it is being fixed. The components of library are not usable in the current state.

Thank you, best regards

[2018-01-18 14:29] ZHollingshead commented on #143
`0.6.1` correct.

@EisenbergEffect I think we just need to try the build process again and ensure that the `reset.css` file gets copied to the `dist` folder for core before publishing again.

[2018-01-20 06:37] EisenbergEffect commented on #143
@ZHollingshead I ran the lerna build again but I don't see a reset.css getting generated anywhere into the dist folder ;( I see it in the src folder only.

[2018-01-20 10:13] ZHollingshead commented on #143
That is very odd, I wonder why it is not getting copied from the src folder on your machine. It copies just fine on mine.

[2018-01-20 19:28] hacchen commented on #143
@jemhunter obviously not preferred, but adding an empty file named “reset.css” to “/node_modules/@aurelia-ux/core/dist/native-modules” got me past this hiccup for the time being. Everything else appears in order after that.

[2018-01-20 20:57] EisenbergEffect commented on #143
@ZHollingshead As a quick fix, should I just copy the reset.css from src to each folder under dist?

[2018-01-20 21:12] ZHollingshead commented on #143
@EisenbergEffect Yeah, either that or I can prepare the release.

[2018-01-20 22:08] EisenbergEffect commented on #143
@ZHollingshead If you want to do that and then ping me, I can publish. That way you know the files are correct.

[2018-01-20 23:17] ZHollingshead commented on #143
I have prepared the release and it is ready to go.

[2018-01-22 08:56] ben-girardet opened #144 "Two Way Binding for checked property"
https://github.com/aurelia/ux/blob/d8b9639653ec76ca4419874f0fdbe58eb9126f9e/packages/switch/src/ux-switch.ts#L16

Seems that the Binding Engine binds the `checked` property in one-way by default. I suggest to explicitly decorate this property with two-way binding:

`@bindable({ defaultBindingMode: bindingMode.twoWay })`

[2018-01-22 11:21] bigopon commented on #144
@ben-girardet Thanks for notifying, it will be resolved by #141

[2018-01-22 11:21] #144 closed

[2018-01-22 12:51] #140 closed

[2018-01-22 12:56] ZHollingshead commented on #143
@jemhuntr this has been resolves as of `0.7.1`.

@jdanyow Rob suggested you might have some experience with the build process and the underlying issue that originally caused this is still here. To provide a tldr summary, the post-build script that copies all of the files over works on my machine (windows) but not Rob's machine. This however only happens to .css or .html files that are at the src r

[2018-02-20 13:12] ZHollingshead opened #149 "Add fallback properties to CSS to ensure components still work in browsers that do not support CSS Variables"
We should include fallback CSS properties to ensure that all components will still display even in browsers that do not support CSS Variables.

[2018-02-20 15:14] fkleuver commented on #19
Let me apologize for not following up on this, it's been an absolutely crazy year where I kept getting new stuff on my plate and couldn't get back to this. Fortunately that's done now.
I'm glad to see that this has been picked up by someone else who did a fantastic job imo. If I can still assist in any way, just let me know!

[2018-02-21 17:06] veikkoeeva commented on #22
@ZHollingshead A question, is https://aux-demo.firebaseapp.com/checkbox missing a design component only? It appears there are other components too that look like implemented, but open here.

[2018-02-21 17:51] ZHollingshead commented on #22
@veikkoeeva what do you mean by design component?

A list of all the component packages can be seen here:
Source Code: https://github.com/aurelia/ux/tree/master/packages
Feature List: https://github.com/aurelia/ux/wiki/Feature-List

[2018-02-21 17:57] veikkoeeva commented on #22
@ZHollingshead I mean if I read correctly this -- and some other tickets -- that the pending work is related to iOS and this isn't something that's lingering in open state. It appears the case is such that this indeed is pending on some further work, though the component is useable already.

[2018-02-21 18:01] ZHollingshead commented on #22
The component is useable as is. The design feature will not be a separate component, that will be part of the `@aurelia-ux/core` package. Work on this functionality is not yet complete.

[2018-02-23 10:49] askdanserbanoiu opened #150 "Date/Time Picker: After changing locale to Italian, Week Starts from 'Monday' but Column still says 'Sunday'"
**I'm submitting a bug report**

* **Library Version:**
0.7.1 (updated to latest just now actually)

* **Operating System:**
Windows 10

* **Node Version:**
8.4.0

* **NPM Version:**
5.3.0

* **Webpack**
Latest

* **Browser:**
Chrome Latest

* **Language:**
TypeScript

**Current behavior:**
Changing locale to Italian updates Datepicker's locale so the Datepicker will start for every week from Mond

[2018-03-03 01:08] Alexander-Taran commented on #57
Stale for almost a year
but promising

[2018-03-03 01:23] LarsKemmann commented on #57
@Alexander-Taran I've tried to get Aurelia working with the Office UI Fabric React components (since I figured biting off an actual Aurelia UX-native rebuild of the components was taking on too much). Unfortunately that's hitting some roadblocks (https://discourse.aurelia.io/t/react-integration/544/17).

I would _love_ to see Aurelia UX support the Microsoft (Windows and/or Office) design language

[2018-03-03 01:26] LarsKemmann commented on #57
@EisenbergEffect If I have understood correctly, the Microsoft Web Framework is only intended to be used for Microsoft's own products and brand; it's not being published as a design standard. I've seen some similar not-for-general-use clauses in the terms around Office UI Fabric. Do the people you've talked to see that differently, or do they really not want people to be able to use their UI conve

[2018-03-03 15:05] fkleuver commented on #57
@LarsKemmann I attempted building an Aurelia app with Office UI Fabric 2 years ago but ended up going with a hand-rolled style. It does seem to be intended for use with Office products. To quote the front page:

To be fair, I'm not sure if you'd even *want* to have an arbitrary app look like it's an Office product. Neat as it can look, you give up your own brand identity.

That doesn't mean there'

[2018-03-03 18:09] fkleuver opened #152 "Add "playground" sub-project for directly testing components"
I'm offering to implement this as a follow-up to #151. I already got the concept to work [here](https://github.com/fkleuver/aurelia-router-metadata). Before I submit a large PR, I'd like to know the team's thoughts on this as there is an important choice to be made.

**The basic idea:**
- Add a "playground" folder to the project root, containing a project similar to [app-ux-showcase](https://githu

[2018-03-03 21:35] EisenbergEffect commented on #57
Things have changed inside Microsoft, last time I talked to the contacts I had. MWF was changing and there was new work on https://fluentweb.com/ However, the future of both of these projects seems uncertain. As is typical at Microsoft, employees that are lower on the chain want to do these things but people higher in the chain frequently don't want to invest. It's hard to say what will happen.

[2018-03-03 21:35] #57 closed

[2018-03-03 21:54] EisenbergEffect commented on #152
@ZHollingshead Can you look into this?

[2018-03-04 13:04] ZHollingshead commented on #152
With the current structure being moved to a monorepo, we could probably merge `app-ux-showcase` into this to be perfectly honest. However the testing becomes slightly more complicated. Each component should contain their tests separately from each other. The test folder at the root of the project would only apply to the `app-ux-showcase` or demo app, if either was added.

I do like the idea of hav

[2018-03-04 22:27] fkleuver commented on #152
Yep, I figured as much. I was deliberately being reserved with adding/modifying too much as I wasn't sure. So I left out the individual components. Now that you've confirmed that's the direction it should be going, I made an initial draft. Please see the latest commit in this pr #151

[2018-03-06 14:46] Alexander-Taran commented on #35
maybe can be closed..

[2018-03-06 15:34] #35 closed

[2018-03-08 14:43] ZHollingshead opened #154 "UX Checkbox does not currently databind correctly"
**I'm submitting a bug report**

* **Library Version:**
0.7.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.6.1

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript 2.7.2

**Current behavior:**
The UX Checkbox component does not currently function in the `app-ux-showcase` application when built from the master branch. The

[2018-03-08 14:43] ZHollingshead commented on #154
@bigopon you are more familiar with the updated components, can you take a look?

[2018-03-08 14:49] ZHollingshead opened #155 "UX Radio does not show the state and displays the native input element"
**I'm submitting a bug report**

* **Library Version:**
0.7.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
9.6.1

* **NPM Version:**
5.6.0

* **Browser:**
all

* **Language:**
TypeScript 2.7.2

**Current behavior:**
The UX Radio component does not currently function in the `app-ux-showcase` application when built from the master branch. The co

[2018-03-08 18:37] ben-girardet commented on #154
Just writing here on top of my head but it seems to me that when I’m using the ux-checkbox component in my projects I’m forced to clearly state a two-way binding for the binding to work. This is not the case for other components like ux-input which default to two-way binding by itself.

[2018-03-08 19:19] bigopon commented on #62
@ZHollingshead Resolved. Thanks to @fkleuver 👍

[2018-03-08 19:19] #62 closed

[2018-03-08 19:25] #154 closed

[2018-03-08 19:25] #155 closed

[2018-03-21 18:11] Alexander-Taran commented on #149
could it be done with a "flag" like compat-layer?
could those be built as another css to require?
It's a lot of added weight "just for ie"
https://caniuse.com/#feat=css-variables

[2018-03-21 18:33] ZHollingshead commented on #149
I would not be opposed to that, but each component would need the compat layer added, so an extra CSS file for each component.

[2018-03-21 18:38] fkleuver commented on #149
Or have a single javascript component handle the fallback by appending a `style` element?

[2018-03-21 18:40] Alexander-Taran commented on #149
I was thinking define style `if defined 'compat'  import css_fallback`.. if that possible

[2018-03-22 12:18] ZHollingshead commented on #149
@fkleuver So I do not feel that having a separate component handle this would be the right approach.

@Alexander-Taran If we can find a lightweight method to add in fall back styles that would be good, lets open a new issue to discuss this and potential ways to handle this, this issue was meant to simply add the appropriate css fallback properties.

[2018-03-22 12:58] Alexander-Taran commented on #149
@ZHollingshead sure.
It's your issue after all (-:

[2018-03-22 13:02] #149 closed

[2018-03-31 16:17] martinkraan opened #161 "UX Select --ux-theme-select-foreground naming error"
**I'm submitting a bug report**

* **Library Version:**
0.8.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.2

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
all

* **Language:**
all

**Current behavior:**
The name of the css variable --ux-theme-select-foreground is wrong.

**Expected/desired behav

[2018-04-03 13:08] bigopon opened #162 "Switch all component build to rollup"
With #147 in place, and incoming new way to register global resources via https://github.com/aurelia/framework/pull/858 , it's now possible to distribute every ux package in a single file., and it's more desirable to to do, for build pref, runtime startup perf, size reasons.

Rollup is a good bundler for this, and it will also make the build setup very simple.

 Thoughts ? @ZHollingshead @Eisenber

[2018-04-03 13:37] ZHollingshead commented on #162
I like the idea of this. Is this one file overall per component or one file per format? (i.e. one for AMD, one for CommonJS, one for system)

[2018-04-03 13:57] bigopon commented on #162
it will be one file overall per module type (amd, commonjs ...) , like what we did with core.

[2018-04-03 14:03] ZHollingshead commented on #162
Alright, I think this will be fine then. We should have the packages and core synced up anyways as far as the build method.

[2018-04-05 01:19] bigopon commented on #161
fixed by #163

[2018-04-05 01:19] #161 closed

[2018-04-05 01:19] bigopon commented on #161
@martinkraan Thanks for the bug report 👍

[2018-04-08 23:45] LarsKemmann commented on #57
@EisenbergEffect Thanks for your insight. I hope we'll get some more clarity around Build.

[2018-04-10 17:09] LarsKemmann commented on #57
@EisenbergEffect This sounds _really_ promising...
https://github.com/OfficeDev/office-ui-fabric-core/issues/852#issuecomment-380170300

Note that it would have to be just the Core pieces (styling etc.) that we pull into Aurelia UX, because the React components aren't compatible (once you start to do any kind of nesting) as we recently discovered. But that should be fine since we want to reuse the

[2018-04-19 07:40] ben-girardet opened #165 "ux-select fails to build with requires"
**I'm submitting a bug report**

* **Library Version:**
0.9.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
6.9.5

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.33.1

* **Browser:**
all

* **Language:**
TypeScript 1.9

**Current behavior:**
When building an app using Aurelia-UX 0.9.1, the builds generate the followin

[2018-04-19 11:01] bigopon commented on #165
Hmm, I was not very smart using those syntax. Forgot to account for requirejs. Will change them to normal convention and wait for core updates to build them properly again.

[2018-04-19 13:32] #165 closed

[2018-04-25 10:48] ben-girardet opened #167 "Use placeholder as displayValue in ux-select when no option selected"
**I'm submitting a feature request**

* **Library Version:**
0.9.1

* **Browser:**
all

* **Language:**
TypeScript X.X

**Current behavior:**

The ux-select custom element has a `placeholder` property which seems currently unused.
https://github.com/aurelia/ux/blob/4260e002ba7172afcb070800b2e30c10d914ee1f/packages/select/src/ux-select.ts#L88

**Expected/desired behavior:**

I suggest that the plac

[2018-05-14 12:28] ZHollingshead opened #169 "external dependency for popups and select"
As per a discussion between myself and @bigopon, it might be a good idea to discuss adding an external dependency to help with managing elements that need to stay positioned next to other elements. Managing the position of elements and ensuring that they do not go off screen is a difficult task and adds a lot of clutter to the source code to attempt to do something other libraries do rather well.

[2018-05-14 22:58] EisenbergEffect commented on #169
Makes sense to me.

[2018-05-15 14:52] manuel-guilbault opened #170 "Add `focus` attribute support"
**I'm submitting a feature request**

* **Library Version:**
0.10.0

**Current behavior:**
Trying to use the built-in `focus` attribute on UX components (e.g.: `ux-input` or `ux-textarea`) doesn't work.

**Expected/desired behavior:**
Since `focus` is a built-in attribute, one would expect it to work with UX focusable components.

## Analysis

I see two ways to implement this.

A first solution wo

[2018-05-16 13:05] bigopon commented on #170
Adding focus and blur to prototype helps align the custom element closer to the native behavior, would be nice if you could create a PR for it @manuel-guilbault

[2018-05-16 13:09] bigopon commented on #170
Also I think all inputable custom elements need to expose methods blur and focus sooner / later, so it's will be a conflict if focus is made bindable property.

@ZHollingshead @EisenbergEffect  thoughts ?

[2018-05-16 14:34] EisenbergEffect commented on #170
I agree that focus/blur APIs on relevant components is an important part of what we need to do.

[2018-05-17 08:42] ben-girardet opened #171 "Normalize.css bug when using Aurelia UX with Webpack on Cordova"
**I'm submitting a bug report**

* **Library Version:**
0.10.1

**Please tell us about your environment:**
* **Operating System:**
ios web app built with Cordova

* **JSPM OR Webpack AND Version**
webpack 4.8.3

* **Browser:**
 iOS XX UIWebView

* **Language:**
TypeScript X.X

**Current behavior:**
When building the app, the AureliaUX styles are not taken into account (all the root CSS vars). This

[2018-05-17 08:51] ben-girardet commented on #171
I currently found a temporary fix by deactivating the normalize.css script when calling @aurelia-ux/core library:

[code]

[2018-06-20 11:19] zuuritaly opened #174 "Logotype"
Hello!

I'm a graphic designer and I like to support open source projects. I would like to design a logo for your project if you interested, I will be happy to work with you! :)

Best Regards

Zuur

Graphic Designer

[2018-06-21 15:36] #174 closed

[2018-10-12 12:11] #125 closed

[2018-11-06 15:52] ZHollingshead opened #179 "UX Radio component does not apply name attribute to input element"
* **Library Version:**
0.12.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
When the `ux-radio` element has a `name` attribute, this is not passed down to the inner input element, causing issues when tabbing through a form.

**Expected/desired behavior:**
When the `ux-radio` component has a `name` attribute applied it should remove the attribute and value from the `ux-radio` elem

[2018-11-07 01:07] EisenbergEffect commented on #179
Feel free to send PR :)

[2018-11-07 01:35] ZHollingshead commented on #179
Already done and being batched in with a lot of other changes. Be looking for that in the next day or two.

[2018-11-07 01:49] EisenbergEffect commented on #179
Sounds good!

[2018-11-07 16:02] #142 closed

[2018-11-07 16:05] #15 closed

[2018-11-07 16:05] #21 closed

[2018-11-07 16:05] #22 closed

[2018-11-07 16:05] #33 closed

[2018-11-07 16:05] #36 closed

[2018-11-07 16:05] #40 closed

[2018-11-07 16:05] #51 closed

[2018-11-07 16:05] #66 closed

[2018-11-07 16:05] #67 closed

[2018-11-07 16:05] #90 closed

[2018-11-07 16:07] ZHollingshead opened #180 "Add documentation for datepicker component"
Add documentation / demos for ux-datepicker to app-ux-showcase

[2018-11-07 16:12] ZHollingshead opened #181 "Checkbox should be styled with the primary color instead of the accent color."
* **Library Version:**
0.12.0

**Current behavior:**
The `ux-checkbox` component currently uses the accent color for the hover border and fill color.

**Expected/desired behavior:**
The component should use the primary colors instead of the accent colors.

[2018-11-07 16:13] ZHollingshead opened #182 "Radio should be styled with the primary color instead of the accent color."
* **Library Version:**
0.12.0

**Current behavior:**
The `ux-radio` component currently uses the accent color for the hover border and fill color.

**Expected/desired behavior:**
The component should use the primary colors instead of the accent colors.

[2018-11-07 16:14] ZHollingshead opened #183 "Switch component should be styled with the primary color instead of the accent color."
* **Library Version:**
0.12.0

**Current behavior:**
The `ux-switch` component currently uses the accent color for the hover border and fill color.

**Expected/desired behavior:**
The component should use the primary colors instead of the accent colors.

[2018-11-07 16:24] ZHollingshead opened #184 "Make components CSS and theming consistent"
CSS for components is not very standard at the moment.

The following tasks need completed for all components:
- Change to BEM styling
- Organize CSS by selector specificity

Progress:

- [x] Button
- [x] Card
- [x] Checkbox
- [x] Chips
- [x] Datepicker
- [x] Form
- [x] Grid
- [x] Input
- [x] Input Info
- [x] List
- [x] Radio
- [x] Select
- [x] Switch
- [x] Textarea

[2018-11-07 16:26] ZHollingshead opened #185 "Add documentation for radio component"
Add documentation / demos for ux-radio to app-ux-showcase

[2018-11-07 22:29] #185 closed

[2018-11-20 18:19] #179 closed

[2018-11-20 18:19] #181 closed

[2018-11-20 18:19] #182 closed

[2018-11-20 18:19] #183 closed

[2018-11-20 18:32] #184 closed

[2018-11-20 18:32] #180 closed

[2018-12-10 18:54] #167 closed

[2019-03-21 14:09] dspublic opened #187 "ux-button custom type"
**I'm submitting a feature request**

* **Library Version:**
14.1

* **Current behavior:**
The typeChanged method of UXbutton class doesn't allow a custom type value use.
 `if (newValue == null || typeClasses.includes("ux-button--" + newValue) === false ) {
newValue = 'raised';
}`

* **What is the expected behavior?**
I would like this;
            `if (newValue == null ) {
                newValu

[2019-03-22 02:27] rdelhommer commented on #20
I'd be interested in working on this component if it's not something that's been already unofficially worked on a bit.  I took a look at the material-ui slider implementation at doesnt seem like anything that's outside the realm of my abilities.  I havent made any contributions to aurelia yet, but I've used it for the last year at work and really enjoy it. Would especially like to get involved wit

[2019-03-22 02:38] bigopon commented on #20
@rdelhommer that'd be awesome 👍

[2019-03-22 13:58] rdelhommer commented on #20
Sounds great!  I'll play around a little bit with the project just to get things going and let you know if I run into any issues.

From a first glace, it looks like I should be creating a new mono repo for the slider using the boilerplate as a jumping off point.

[2019-03-25 04:18] rdelhommer commented on #20
So I made fairly basic implementation [here](https://github.com/rdelhommer/ux/tree/master/packages/slider) based off of the material-ui react [slider](https://github.com/mui-org/material-ui/tree/56fcebb045e3a0f675dc0ddc665a6c5f300dde99/packages/material-ui-lab/src/Slider).  I didn't want to go to far without getting some feedback on what I've done since I don't have the most formal experience deve

[2019-03-25 04:23] bigopon commented on #20
mostly theming will be based on pattern that we have with existing components.
About bindable options, generally we try to make the control as close to native control as possible, you can see that reflects in `ux-select` APIs
accessibility should be done as much as implementer can, we can always improve later, so it's not a big deal for now if you don't feel comfortable.
There is testing infra in

[2019-03-25 18:00] rdelhommer commented on #20
Sure that all sounds good.  I wouldn't consider myself a champion, but I'm certainly interested in continuing to work on this repo with @serifine.  It would be nice to have a community-built ui library that I can use in my side projects.  Plus I'm hoping it can be a good learning experience for me for UI development best practices.

For now, I'll leave the aria/screen-reader accesibilty stuff for

[2019-04-30 23:00] rdelhommer commented on #20
had to take a little bit of a break but I think I'm pretty close to being finished.  Can you point me to an example that shows how to implement ios styles?  I dont really see anything that stands out in the component css files.  Once I do the ios styles it should be ready to go and I'll make the PR

[2019-04-30 23:02] EisenbergEffect commented on #20
@rdelhommer We haven't gotten around to doing iOS styles yet. So, if you don't need them yourself, we could just take the PR with material styles only. @serifine can comment more on our plan for how we were going to handle iOS though.

[2019-04-30 23:38] serifine commented on #20
I agree, make the PR with just the Material styles unless you need them yourself. We really need someone innately familiar with the control styles that can champion the styling of the iOS version of the components.

[2019-05-01 00:06] EisenbergEffect commented on #20
This might be a nice opportunity for @scriswell to get involved again. He know platform control styles like the back of his hand. He's been working with Aurelia in his day job...so maybe we could give him a walk-through of this library, get him set up, and then let him go to town on the CSS? I bet he could get a lot done with a little bit of occasional guidance from you @serifine, if you two are b

[2019-05-01 00:27] scriswell commented on #20
I'm up for it for sure!

On Tue, Apr 30, 2019, 8:06 PM Rob Eisenberg <notifications@github.com>
wrote:

[2019-06-20 01:17] stuartbale opened #201 "Multiple versions of @aurelia-ux/core found:"
**I'm submitting a bug report**

* **Library Version:**
0.16.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.34.0

* **Browser:**
all

* **Language:**
TypeScript 3.5.1

**Current behavior:**
I have followed the instructions in a new Aurelia project, to add aurelia-ux

[2019-06-21 02:21] stuartbale commented on #201
OK - I think I can see the issue. It appears that the slider component is including it's own node_modules folder as per the attached image. I'm hoping this is something that is easily fixed.

Manually deleting the node_modules removes the warning, and the app runs correctly.
![Screen Shot 2019-06-21 at 1 35 52 PM](https://user-images.githubusercontent.com/1775472/59892044-a7216900-942b-11e9-8cd0-c

[2019-09-03 13:27] andr3i4o opened #215 "wrong attribute binding"
https://github.com/aurelia/ux/blob/6b952e18c2d0268bdc6ea2d5cd7c3ad6b9316edf/packages/switch/src/ux-switch.html#L14

Shouldn't it be aria-disabled  instead aria-disabledB?

[2019-11-08 22:16] ben-girardet commented on #170
* I've started to tackle this issue for the textarea component. https://github.com/platform5/ux/commit/a37b2df5e11c85b29fe067ef8768917cd661e506
* I've also added support for material design labels (similar to what has been done with the ux-input component). https://github.com/platform5/ux/commit/1a6582b8842d2aaeace76c111ad95b79f39df2d1
* And also fix the styling (so that it also happen at binding,

[2019-11-08 23:11] bigopon commented on #170
@ben-girardet thanks for this, I'll setup something so folks can easily verify their changes/local setup & contribute

[2019-11-08 23:17] khuongduybui commented on #170
Storybook?

[2019-11-08 23:49] bigopon commented on #170
For now, it should be a simpel local app that alias Ux dependencies to local packages, so you get faster feedback cycle via simple `npm run dev` script.
I think then folks with more storybook knowledge/experience can take over from there

[2019-11-08 23:53] khuongduybui commented on #170
No promises but I'll try.

[2019-11-09 00:22] bigopon commented on #170
@khuongduybui glad to hear that :)

And i've finished the setup locally. Now you can simply do:
[code]
-> start editing ux packages and get live reload

Will push up the code later tonight

[2019-11-10 13:03] bigopon commented on #170
@ben-girardet an small update:
I've pushed the changes here to my branch at https://github.com/bigopon/aurelia-ux/blob/dev-test-app but it will be a bit more work before a PR. Though it's already in good working condition, as you can see from this combo:

https://github.com/bigopon/aurelia-ux/blob/dev-test-app/app/src/app.html
https://github.com/bigopon/aurelia-ux/blob/dev-test-app/app/src/app.ts

[2019-11-10 20:15] ben-girardet commented on #170
Wouaw thank you so much @bigopon for the great support on this issue and https://github.com/aurelia/dependency-injection/issues/187

Using you dev-test-app branch I can now
* successfully build aurelia-ux project using lerna
* successfully build a package
* and the test app with link to dependencies is fantastic to work with

Now, what do you recommend for me to do? Should I wait for a PR in main

[2019-11-10 21:50] bigopon commented on #170
@ben-girardet glad to hear you were able to verify it. I also prepared an easy way to build directly into a folder in different path, making it friendlier for testing with existing apps.
You can do that with
[code]

Besides that, before we proceed with adding focus behavior on the ux inputable element, we need to define how they will behave, aka some specs. Would be nice if you could have some sho

[2019-11-10 21:51] khuongduybui commented on #170
I think we should wait a little bit for @bigopon changes to get merged back into main repo. At least that's what I'll be doing.

[2019-11-11 13:55] bigopon commented on #170
@ben-girardet @khuongduybui I've completed refacotring all the component builds, and updated my branch. https://github.com/bigopon/aurelia-ux/blob/dev-test-app/app/src/app.html

A few final touches and it should be ready to go

[2019-11-12 08:47] ben-girardet commented on #170
Can't wait to work with this new tooling. It definitely motivates me to contribute. I'm very new to the open source world and therefore might need some guiding along the way.

As I'm using Aurelia UX in various projects since nearly the beginning I really would like to help the project move forward. At the moment I'm planning to contribute towards:

* fix this focus issue because it's very importa

[2019-11-12 12:00] bigopon commented on #170
@ben-girardet it's ready at #216

About the list of focus/blur behavior, it sounds like a good start, we can iterate based on that more, just need to have it somewhere, so if you are going to create a PR for that, lets put the list in a `design-decisions.md` or something

[2019-11-18 12:53] ben-girardet commented on #170
@bigopon thank you !

When you say it's ready, I still need to wait for it to be merged before I can fork and start making a PR for the focus attribute. Right ?

[2019-11-21 19:51] ben-girardet commented on #170
Started to tackle the focus attribute issue here:

https://github.com/platform5/ux/tree/focus-attribute

When writing the design decision I went to the conclusion that components that don't actually have a keyboard input feature don't need the `focus()` and `blur()` api if they work correctly with TAB. But maybe I'm missing something and they should also implement `focus()` and `blur()`. *Any thou

[2019-11-22 06:42] bigopon commented on #170
A general direction we should align ourselves to is standard.it couls be difficult to implement because we have to keep track od many things.

About the component with typing you mentioned, we may need to do it ina different component instead, called combobox maybe?

[2019-11-22 07:44] ben-girardet commented on #170
What is standard.it ?

Good idea to separate ux-select component with another one with such capabilities. Therefore I’m thinking that we can keep ux-select as is without implementing the `focus()` and `blur()` API.

[2019-11-22 07:58] bigopon commented on #170
Standard. It
I was typing on the phone. About the component, yes leta make it that way. So folks can think about ux as standard like components, and there' extra components like combobox

[2019-11-22 19:08] ben-girardet opened #228 "Cannot convert object to primitive value with 0.17.0"
**I'm submitting a bug report**

* **Library Version:**
0.17.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
10.14.2

* **NPM Version:**
6.6.0

* **JSPM OR Webpack AND Version**
Webpack (from aurelia-cli)

* **Browser:**
Chrome XX

* **Language:**
TypeScript X.X

**Current behavior:**

When including the 0.17.0 version of Aurelia UX, the app buil

[2019-11-22 19:55] bigopon commented on #215
Yes it should. Thanks for notifying this @andr3i4o

[2019-11-23 00:13] bigopon commented on #228
@ben-girardet yes I forgot that rollup plugin emitted code differently
fix is here #229

[2019-11-24 14:57] ben-girardet opened #231 "Component theming and CSS consistency (discussion)"
I open this discussion to see if we can improve theming and CSS consistency across components.

As a start of discussion I would like to take `ux-input` as an exemple (version 0.17.0).

Currently the declared theme properties are:

[code]

Not all properties are then used in the `.css` file. For exemple, `borderHover` or `borderBottomHover` are not. In fact, regarding `:hover` state, the only curr

[2019-11-24 17:27] EisenbergEffect commented on #162
@bigopon This can be closed right?

[2019-11-24 18:04] #215 closed

[2019-11-24 18:07] EisenbergEffect commented on #231
My personal opinion is that we should remove the unused properties for now. They can be added back if needed when a second design system is added.

I don't think we've got any platform detection currently. We do want to add iOS styles and also Fluent Design, but wanted to get a pretty full-featured Material implementation first.

[2019-11-24 18:16] serifine commented on #231
I think we should remove any properties that are not used. At the same time, however, I think we should ensure the properties we are currently using make sense as well.

I don't think the theme files have to be very comprehensive and encompass every css property because I have discovered over time the CSS structure being so flat allows a user to easily customize the look and feel of the components

[2019-11-24 18:24] EisenbergEffect commented on #231
Great point @serifine! I think my initial idea was that these properties should primarily support the design systems, so that switching from material, to ios etc. was just a matter of choosing a preset of variables. We won't know exactly what all those need to be until we implement a second design system. So, perhaps for now, we should keep things simple.

@serifine Do you feel that you have a sen

[2019-11-24 20:01] serifine commented on #231
I think, off the top of my head, the only one that actually needs to change is the border color to get it to make sense just by reading the name. Other than that, I'm not sure which properties need to stay, and which need to go.

[2019-11-25 20:09] ben-girardet commented on #231
I've started to work on this and would like to publish a WIP PR soon so that we can see how it could look like in the code.

I've been working on the `ux-button` component with these goals in mind:

* **relevency**: making sure that theme properties are usefull and all declared properties are used
* **consistency**: making sure they all make sense
* **material design**: fit to material design guid

[2019-11-25 20:15] ben-girardet commented on #231
The above discussion is about _button types_ and the level of details that we want in the theme regarding the types.

Once this is settled, there will also be the question for the _button states_ (hover, focus, active).

Currently (if I understood correctly) these states are handled with a grayish color, which is smart because it works in most cases without the need to provide (again) theme variab

[2019-11-25 20:19] ben-girardet commented on #231
The above discussion is about _button types_ and the level of details that we want in the theme regarding the types.

Once this is settled, there will also be the question for the _button states_ (hover, focus, active).

Currently (if I understood correctly) these states are handled with a grayish color, which is smart because it works in most cases without the need to provide (again) theme variab

[2019-11-25 21:46] EisenbergEffect commented on #231
Let's start with the button types PR. When it's ready we can all have a look and see how it plays out in practice. Then we can try to deal with the states in a second pass.

[2019-11-25 22:28] ben-girardet commented on #231
Yes I agree that the state question is for later. At he moment I’m especially interested to have your opinions about the background/foreground pairs of properties (https://github.com/aurelia/ux/issues/231#issuecomment-558320657)

If you already have any thoughts let me know... I’ll post a first PR in a few hours.

[2019-11-25 23:56] EisenbergEffect commented on #231
I definitely like the proposal for the property pairs. It's much simpler and cleaner if we can make it work for the different button types. I'd love to see a PR for that so we can talk over the details and also get @serifine involved for review and to see if we want to propagate that to the rest of the controls where appropriate.

[2019-11-27 20:23] ben-girardet commented on #231
Forgot to mention that a first draft PR is ready: #232

Comments or review are welcome to help shape the continuation of the work.

[2019-12-03 05:12] #228 closed

[2020-01-15 09:18] ben-girardet commented on #228
Just want to ping @EisenbergEffect @bigopon as a reminder that this fix has been [merged into master](https://github.com/aurelia/ux/pull/229) but not published to NPM. At this stage people who install Aurelia UX from `npm` get the buggy 0.17.0 version and cannot use it. Would be great to publish a 0.17.1 version with this fix.

[2020-01-15 11:39] iocast commented on #228
when is v0.17.1 comming?

[2020-01-15 15:54] EisenbergEffect commented on #228
I'm adding it to my release list now. I should be able to get it out today. Thank you for the reminder @ben-girardet

[2020-01-16 09:18] iocast opened #233 "Error: Unable to find module with ID: @aurelia-ux/components/ux-button"
**I'm submitting a bug report**
similar to #120

* **Library Version:**
0.17.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v12.14.1

* **NPM Version:**
6.13.6

* **Webpack**
webpack-cli 3.3.10

* **Browser:**
Crome Version 79.0.3945.117 (Official Build) (64-bit)

* **Language:**
ESNext

**Current behavior:**
Registering plug-in `@aurelia-ux/c

[2020-01-16 14:39] bigopon commented on #233
@iocast we need to turn these lines https://github.com/aurelia/ux/blob/0c444007a706c09b7943248fa2085ebd4d53e2e1/packages/components/src/index.ts#L44-L58

into something like this:
[code]

It would be great if you could help PR this 😁

[2020-01-21 02:57] #233 closed

[2020-02-22 04:08] xenoterracide commented on #83
this was reopened? so there are no tabs :'(

[2020-02-22 10:09] bigopon commented on #83
nagging @ben-girardet 😏

[2020-02-22 19:37] ben-girardet commented on #83
Great question @xenoterracide

I joined this project recently and was also intrigued by what happened to the `tabs` component. I figured out from [this issue](https://github.com/aurelia/ux/pull/98) that it was removed back in Oct 17 from the library due to some bugs.

What need to be done ? The library has much evolved since then, but the original work on tabs might still be of interest. Wondering

[2020-02-23 03:19] xenoterracide commented on #83
curiousity, and potential (but not promised) willingness to help out. I'm still fairly green again at doing Web UI stuff. Currently was debating on whether I wanted to try Aurelia UX in addition to my current Bulma experiment (trying to avoid frameworks with that jquery thing).

[2020-02-24 21:57] ben-girardet commented on #83
Good to hear @xenoterracide  ! I'm with you trying to avoid jquery thing.

I had a look at the original tabs source code and must say that I would go for starting again from scratch.

I'm also in need of tabs in a pretty near future so I confirm that the fire is getting some flames. The cool thing is that the Aurelia codebase is a solid foundation to get a quick start. I believe we can get somethi

[2020-03-17 22:49] #231 closed

[2020-03-23 04:46] bigopon opened #244 "[Feature request]: ability to theme scrollbar"
At the moment, there's no way to theme a scrollbar when using ux. It would be great if we could have a built-in way to unify styling scrollbar for all supported browser, mainly Firefox & webkit based browser.

Relevant links
For Firefox: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
For others: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar

[2020-03-23 04:46] bigopon commented on #244
@ben-girardet @serifine @EisenbergEffect

[2020-03-23 06:38] ben-girardet commented on #244
You mean styling them for the whole application at once or on a per-component basis ?

[2020-03-23 06:46] bigopon commented on #244
@ben-girardet we probably don't want to style the entire application, but want to have some basic utility to style scrollbar, like a CSS class named `.ux-scrollbar` and some theme variables. So our components and user application can share the same scrollbar styling

[2020-03-23 08:11] qraynaud opened #245 "collapse throwing an error"
I'm working on an app for fun and decided to use aurelia-ux to try it out.

Doing so, I stumbled on the following bug:
[code]

After looking it down, this is about : https://github.com/aurelia/ux/blob/master/packages/select/src/ux-select.ts#L339 where `this.optionWrapperEl` is `null` in some instances.

I suspect it is after the element has been unattached or unbound and that for some reason it tr

[2020-03-23 10:59] bigopon commented on #245
@qraynaud nice, thanks for the report. Could you please help with some pseudo code of how you'd get this error?

[2020-03-23 12:15] qraynaud commented on #245
Even with my codebase, it's happening one time out of hundreds. I cannot really reproduce it reliably. I noticed it only because I show every error in a frame on the UI. It's not creating any issue I can see…

If I find some time, I'll try to do something. But the basic idea is just to have a component that contains a select and can be removed / re-added easily. Something along:

[code]

In the en

[2020-03-23 12:26] bigopon commented on #245
@qraynaud thanks. That should be enough to get started fixing this.

[2020-03-27 09:11] qraynaud commented on #245
Here is the patch I'm currently using to bypass the issue. I'm pretty sure this is not the optimal fix but it helps to understand the issue:

[code]

[2020-03-27 09:25] qraynaud opened #247 "ui-form: strange build issue"
**I'm submitting a bug report**

* **Library Version:**
0.18.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Docker image: node) | Windows 10 (with WSL)

* **Node Version:**
13.10.0

* **NPM Version:**
6.4.13

* **Webpack**
webpack 4.42.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**

Using the latest base project generated by `aurelia-cli` (with s

[2020-03-27 21:19] ben-girardet commented on #247
Thanks @qraynaud for opening this issue. This is strange as you said.

I took a moment to find out more about this problem and could reproduce it with a clean install from `aurelia-cli@1.3.0`. Digging in the `webpack.config.js` file I found that it comes from the following line:

[code]

You can replace by

[code]

To make it build successful but at the moment I don't know more than that. Will pro

[2020-03-28 23:03] bigopon commented on #247
I'll try to reproduce this soon. Thanks for creating this issue

[2020-03-29 07:19] bigopon commented on #247
The issue you encountered with production build comes from this line https://github.com/aurelia/ux/blob/e223ca547856f5c199f3418170a4db2dad764f31/packages/form/src/index.ts#L13

In short, we use naming convention to help Aurelia determine the kind of resource (element/attribute/converter/etc...) a class is. In production build, however, webpack minify everything that is minify-able. This includes e

[2020-03-29 08:18] ben-girardet commented on #247
Will publish a PR later today 👍🏻

[2020-03-29 08:52] ben-girardet commented on #247
@bigopon you can [review the PR](https://github.com/aurelia/ux/pull/248)

[2020-04-02 22:28] #247 closed

[2020-04-14 05:15] bigopon commented on #162
Yes, Rollup, while gives a lot of benefits related to distribution, limits the consumption of a component library that distributes custom element (ex: CSS autoprefixing).
Closing this as we went for the middle way.

[2020-04-14 05:15] #162 closed

[2020-04-14 05:44] bigopon opened #251 "Easier way to share some ux snippet"
I've created an example gist for ux here https://gist.dumber.app/?gist=7f63f733103a72e5f8660a9eba60ff0e and it's working nicely, thanks to @3cp

We probably need to add an example in the readme to help give some instruction how to share code easier

[2020-04-14 05:57] 3cp commented on #251
@EisenbergEffect I remember we used to have gist.run in all github repo ISSUE_TEMPLATE.md.
We could update the template to have a link to dumber-gist.

I can write an official blog draft about dumber-gist, it will take me few days depending on how long we want the blog to be. Since dumber-gist is written in aurelia, it's a good material for marketing. Probably migrate our doc home page from codesa

[2020-04-14 07:06] EisenbergEffect commented on #251
@3cp All sounds good to me 😄

[2020-04-23 19:43] DanieleRosada opened #257 "Not imports ux-icons"
import * as icons from '@aurelia-ux/icons/sets/full-array.min.json';
aurelia.use.plugin(PLATFORM.moduleName('@aurelia-ux/icons'), { icons })

This is my main.ts.
I ran the instructions found in
https://aurelia.io/blog/2020/03/02/aurelia-release-notes-march-2020/

Could anyone help me?
Do I need to import anything into webpack?

[2020-04-24 05:12] ben-girardet commented on #257
Hi @DanieleRosada thanks for reaching here.

What you did is right. Are you using typescript ? Did you also follow the instruction regarding the `tsconfig.json` on the blog ?

Basically it says:

If this doesn't solve your problem, could you give us more details regarding your situation ?

- are you using typescript ?
- any error or warning in the console ?

Alternative solution:

I have faced a s

[2020-04-24 19:52] DanieleRosada commented on #257
`.plugin(PLATFORM.moduleName('@aurelia-ux/icons'), {icons: (icons as any).default})`

With this it works, thank you!
I use typescript and I had no errors and no warnings,
except this warning that's left in the visual studio code console:

WARNING in @aurelia-ux/core
  Multiple versions of @aurelia-ux/core found:
    0.18.1 ./~/@aurelia-ux\core
    0.19.0 ./~/@aurelia-ux\icons/~/@aurelia-ux\core

[2020-05-08 12:32] MaximBalaganskiy opened #260 "Already extracted normalize.css is being added to global styles"
**I'm submitting a bug report**

* **Library Version:**
0.20.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.16.2

* **NPM Version:**
6.14.4

* **Webpack Version**
webpack 4.42.1

* **Browser:**
all

* **Language:**
TypeScript 3.8

**Current behavior:**
`ux-configuration.ts` module loads `@aurelia-ux/core/styles/normalize.css` into global st

[2020-05-08 14:22] swalters opened #262 "Expansion panel component"
Are there any immediate plans to implement an expansion panel similar to https://material.angular.io/components/expansion/examples or https://aurelia-ui-toolkits.github.io/demo-materialize/#/samples/collapsible/basic-use ?

[2020-05-09 04:28] bigopon commented on #262
@swalters theres not an immediate plan, but contribution is welcome. Unless @ben-girardet already got this going

[2020-05-12 07:14] MaximBalaganskiy commented on #262
@swalters @bigopon do you expect the panel to be pre-styled or just provide default animation and leave the rest to a consumer?

[2020-05-12 14:44] swalters commented on #262
Looking at other libraries, I see two general approaches

**Separate component**
Angular Material uses a separate component that includes styling.  I think this would be easy to use but you are at the mercy of the components layout and styling. https://material.angular.io/components/expansion/overview

**Enable expansion of list items**
Aurelia Materialize Bridge uses an attribute and other css cl

[2020-05-12 23:47] MaximBalaganskiy commented on #262
![expandable](https://user-images.githubusercontent.com/3712700/81756344-cff89400-94fe-11ea-9852-ab036d928572.gif)
Will something like this do?

[2020-05-13 02:53] bigopon commented on #260
We still need to include this css module, so we probably just need to tweak
[code]
to
[code]
maybe?

[2020-05-13 03:12] bigopon commented on #262
Maybe we can try with a separate component first, to see how it works and later refactor the core logic of the expand/collapse into an attribute, and then use it for general purposes, same path taken for ux-choice & ux-choice-container

[2020-05-13 03:16] MaximBalaganskiy commented on #262
@swalters you can try it here https://github.com/MaximBalaganskiy/ux/tree/expandable

[2020-05-13 03:17] MaximBalaganskiy commented on #262
@bigopon I think it is hard to extract it to an attribute - there is internal component structure which I would hate to replicate if I was a consumer

[2020-05-13 03:42] bigopon commented on #262
We can still insist some basic structure of the dom to be used with attribute I think. But maybe let's focus on that later? Having the component in first sounds awesome enough to me ❤️

[2020-05-13 03:58] swalters commented on #262
@MaximBalaganskiy That looks perfect.  I'll try it out soon in my app.  I hope we see this and the other components you've developed merged soon.

[2020-05-13 09:44] glyad opened #265 "The debugging using breakpoints VSCode doesn't work"
I'm submitting a bug report

Library Version:
latest

Operating System:
macOS 10.15.4 Catalina

Node Version:
10.19.0

NPM Version:
6.14.5

Webpack
Latest

Browser:
Chrome Latest

Language:
TypeScript 8.5.3

Current behavior:

1. I created the VSCode launch configuration at the root of the dev. app as following:
"configurations": [
        {
            "name": "Chrome",
            "type": "chrom

[2020-05-13 21:35] swalters commented on #262
@MaximBalaganskiy Looks good to me.  Easy to use in my nav sidebar and in edit forms

[2020-05-14 08:07] bigopon commented on #265
I'm curious how this demo app can run without running the `npm run dev` script. Can you help explain a bit more in some pictures? I've not done this myself so I'm not sure what you are doing.

[2020-05-16 12:18] MaximBalaganskiy commented on #260
Duplicate of #171

[2020-05-21 01:25] #260 closed

[2020-05-21 04:07] #262 closed

[2020-05-25 05:23] bigopon commented on #201
This should be solved by recent work from @MaximBalaganskiy that put `@aurelia-ux/core` as peer dependency. Thanks for creating this issue.

[2020-05-25 05:23] #201 closed

[2020-05-25 08:47] ben-girardet opened #278 "Use positioningService for datepicker dialog"
Currently the datepicker dialog is positioned using `position:fixed` which doesn't work correctly when used inside an absolute or fixed container. It would be better to use the positioningService.

[2020-05-25 22:24] bigopon commented on #171
This has been fixed by https://github.com/aurelia/ux/commit/1a38f1439f88d30e036a74f40019da1eda317425. Thanks to @MaximBalaganskiy

[2020-05-25 22:24] #171 closed

[2020-05-27 07:11] MaximBalaganskiy opened #280 "ux-icon in disabled button accepts clicks"
**I'm submitting a bug report**

* **Library Version:**
0.20.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.16.2

* **NPM Version:**
6.14.4

* **JSPM OR Webpack AND Version**
webpack 4.42.1

* **Browser:**
all

* **Language:**
TypeScript 3.9

**Current behavior:**
`ux-icon` in disabled button accepts clicks

**Expected/desired behavior:**
*

[2020-05-27 07:20] ben-girardet commented on #280
Hi @MaximBalaganskiy

Did you place the `click.delegate()` on the `<ux-button/>` or the `<ux-icon/>` ?

[2020-05-27 07:21] MaximBalaganskiy commented on #280
on the button

[2020-05-27 07:37] MaximBalaganskiy commented on #280
ux-icon click event must be bubbling to the ux-button

[2020-05-27 07:40] ben-girardet commented on #280
Yes, that would be what is happening. We might be able to handle this with CSS with something like:

[code]

what do you think ?

[2020-05-27 07:42] MaximBalaganskiy commented on #280
this fixed the issue

[2020-06-01 06:29] MaximBalaganskiy opened #284 "select drops outside the window"
**I'm submitting a bug report**

* **Library Version:**
0.20.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.16.2

* **NPM Version:**
6.14.4

* **JSPM OR Webpack AND Version**
webpack 4.42.1

* **Browser:**
all

* **Language:**
TypeScript 3.9

**Current behavior:**
When select is close to the window botton the dropdown drops outside the wind

[2020-06-01 06:36] MaximBalaganskiy commented on #284
To be fair, NG doesn't adjust either :)

[2020-06-01 06:37] bigopon commented on #284
Well yes, this is what the positioning service is for. Will fix later, or happily taking PR 😁

[2020-06-02 21:45] #280 closed

[2020-06-07 03:47] bigopon commented on #20
Added by @serifine and enhanced by @ben-girardet . Closing this

[2020-06-07 03:47] #20 closed

[2020-06-07 03:50] bigopon commented on #54
We have settled with ability to configure icon set from user app, with a default icon set provided, for now. Can have a look here. Close this ticket for now. If we need to iterate on this again, let's open a new ticket.

[2020-06-07 03:50] #54 closed

[2020-06-07 04:12] #284 closed

[2020-06-09 23:42] MaximBalaganskiy opened #299 "Add aurelia-typed-observable-plugin dependency"
It would be great to use `aurelia-typed-observable-plugin` in UX components.
At the moment, whenever we need a boolean or a number property, a lot of plumbing code is needed to convert strings to typed values.

E.g.
[code]
As you can see, far from convenient. Plus, I need to remember to use a shadow property instead of a bindable directly.

With the plugin this becomes just
[code]
The advantage is

[2020-06-10 08:59] MaximBalaganskiy commented on #284
Same thing happens now when a dropdown goes over the right edge
![image](https://user-images.githubusercontent.com/3712700/84248200-752d7900-ab4c-11ea-9d60-9106e41fad38.png)

[2020-06-11 00:01] MaximBalaganskiy opened #300 "Consider pagination component"
I've got a pagination component which might be useful.
Please consider adding it to the UX.

![pagination](https://user-images.githubusercontent.com/3712700/84330348-84eba280-abca-11ea-864d-de4dce671f9a.gif)

[2020-06-11 03:28] bigopon commented on #300
@ben-girardet @EisenbergEffect any thoughts on this

[2020-06-12 04:46] EisenbergEffect commented on #299
I'd prefer to add this to the core and do it in a way compatible with Aurelia 2. @bigopon Is that doable?

[2020-06-12 04:48] EisenbergEffect commented on #300
Seems useful to me. @MaximBalaganskiy Can you share a bit about how it works with some html examples?

[2020-06-12 04:53] bigopon commented on #299
It's doable, all the patches needed are here https://github.com/aurelia-contrib/aurelia-typed-observable-plugin/blob/master/src/patches.ts

Though aren't we constraining ourself from adding new features to v1? Also, at the moment, v2 `coerce` is `set:
[code]
but the plugin mentioned is `coerce`:
[code]
Yeah, it's probably mainly about releasing feature to v1, also the ramification of this as well,

[2020-06-12 12:24] EisenbergEffect commented on #299
What if we move the plugin into ux but renamed it so that the APIs matched the proposed behavior of v2?

[2020-06-12 12:40] bigopon commented on #299
I can do that, but probably it will be a new package, as it doesn't seem to be simply "move" a plugin over a monorepo. Sounds like you are happy with that, I'll proceed that way

[2020-06-12 12:41] bigopon commented on #299
And tbh, that plugin matches the theme `ux` too 😄

[2020-06-12 13:09] EisenbergEffect commented on #299
Why not put it right in the core ux package?

[2020-06-12 13:13] bigopon commented on #299
hmm yeah that sounds better. Thanks 👍

[2020-06-13 08:05] bigopon commented on #299
On a 2nd thought, doing it in UX will make ux incompatible with that plugin in user app. How should we handle that situation?

[2020-06-13 08:35] MaximBalaganskiy commented on #299
Why would it be incompatible?

[2020-06-13 08:51] bigopon commented on #299
In order for this to works, it needs to override `setValue` of the class `BehaviorPropertyObserver` in `templating`. And when both of them try to override the same method with their own compatible version, it'll break.

[2020-06-13 08:52] bigopon commented on #299
Actually there's a way to make it not break, via duck typing. Means that this implementation must be exact to the other in terms of naming for internal bits.

[2020-06-13 17:36] EisenbergEffect commented on #299
We may want to make an exception and just add this to aurelia-binding anyway. I think it would be ok since this will also bring forward compat with au2 while solving an issue in UX.

[2020-06-13 21:50] bigopon commented on #299
It would be difficult because we haven't locked down how the API would be.

1. In v2:
[code]
And potentially:
[code]

2. in the plugin:
[code]

If we are to add this to binding, at least need to decide how the enhancement on those would be first.

[2020-06-13 22:11] bigopon commented on #299
I think for now we make an exception and use the plugin, until we lock on how we enhance the API for bindable/observable decorators in v2 and we move this over

[2020-06-14 02:22] MaximBalaganskiy commented on #300
It's not doing much - displays a defined number of pages out of the total and updates a selected page number. Tries to keep the selected page in the centre of the range by moving the visible pages window.

Live demo
https://gist.dumber.app/?gist=adf2cb1524a26176e08b79f5442672b1

[2020-06-14 17:59] EisenbergEffect commented on #300
Thanks @MaximBalaganskiy Seems like a nice addition to me.

[2020-06-15 01:08] stuartbale commented on #83
I'm going to attempt to resurrect this as I can now spare a decent chunk of time to work on it. Anyone monitoring this issue is welcome to offer suggestions on how I should tackle this.

[2020-06-15 01:53] bigopon commented on #83
@stuartbale nice. I think the first thing to do is to try to agree to how we would want the usage to be like. For me, I have seen 2 variations:
- Tab button text and icon are configured on a tab panel (example from @manuel-guilbault https://github.com/aurelia/ux/issues/83#issuecomment-311917884):
[code]

- Tab can be in free templating style, which looks like this:
[code]

I think the first one wi

[2020-06-15 02:09] stuartbale commented on #83
thanks @bigopon. With the first variation, do you anticipate that the content of the tab is enclosed within the ux-tab tag? E.g.

[code]

[2020-06-15 04:24] zewa666 commented on #83
@stuartbale looking at the sample from @manuel-guilbault [here](https://github.com/manuel-guilbault/aurelia-ux/commit/17c2992ffc9205e0fb86d7cf9ecfb68d305c56d7#diff-753ccad6db9bf09c119e292f4d93af4bR4) I don't see a slot available in ux-tab so I'd expect no children

[2020-06-15 04:38] stuartbale commented on #83
thanks @manuel-guilbault . Do we think that generally users would want to manage the visibility of tab content themselves (e.g. via a tab selected event) or would they prefer the tab component to do that?

[2020-06-15 05:39] bigopon commented on #83
@stuartbale yes, otherwise I think it'd be quite confusing. Unless you have some ideas how to make it more foolproof authoring the content 👍

[2020-06-15 05:55] ben-girardet commented on #83
thanks @stuartbale for jumping on this.

If I follow you guys correctly, the scope of this component relates to the **tabs buttons** but not the content. Right ? At least I don't think that a markup where tab buttons and content are linked together would be a good idea. Many times tab buttons should be placed separated from their content (eg: in a topbar).

For the tabs (buttons), maybe we can use

[2020-06-15 14:53] ben-girardet opened #304 "ux-select do not fire change event when handling multiple values"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Current behavior:**

When using `<ux-select>` with `multiple` attribute the `change` event is not dispatched when the select value changes.

**Expected/desired behavior:**

`change` event to be dispatched for any changes

[2020-06-15 21:59] stuartbale commented on #83
Wow, thank you @bigopon @ben-girardet @zewa666 for your quick feedback. I've been reviewing the existing components in the project and have started a new Tabs component. I used the Treeview component as a starting point, without realising that there is a Boilerplate which I should have used. Nevertheless, I have made a start.
The design I am using is based on what is shown here: https://material.i

[2020-06-16 00:01] stuartbale commented on #83
And this link could be useful, so we 'align' with the Material Design Web component:
https://material.io/develop/web/components/tabs/tab-bar/

[2020-06-16 13:38] bigopon commented on #304
@ben-girardet thanks for creating this, I'll have a look soon. Are you blocked by this?

[2020-06-16 20:20] ben-girardet commented on #304
thanks @bigopon

I discovered this issue while trying to use `<ux-select>` in a scenario when I need the `change` event. I thought I could quickly fix it but then realized that it might be a little more complex than I thought. As you know this component pretty well if you have a chance to look at it I would highly appreciate.

Meanwhile I used another component for what I had to do. So I'm not blo

[2020-06-17 08:51] zewa666 commented on #83
I definitely like the idea that label and icon are overriden if contents are provided. As for the second example the ref could be named panel-id instead of tab-panel-id. It's clear from the context that it's a tab and it would save some keystrokes.

[2020-06-17 23:43] MaximBalaganskiy commented on #123
I recon this is done via `ux-sidenav`

[2020-06-18 01:03] MaximBalaganskiy opened #307 "A dropdown component"
I've got a dropdown component which works similar to lookup.
It has also got default styles for items but not limited to them and can display random content.

I know this component is already being worked on.
Is it worth submitting a PR?

[2020-06-18 01:27] bigopon commented on #307
I'm interested in this component, as it's quite a common scenario and normally is quite all by itself. Would love to see it.

cc @EisenbergEffect

[2020-06-18 01:47] MaximBalaganskiy commented on #307
Live demo
https://gist.dumber.app/?gist=fbbfc92df36576847d6886dd051d1ceb

[2020-06-18 11:03] MaximBalaganskiy commented on #307
The component calculates the best dropdown position. Bottom-right is the preferred one, top and left are selected when dropdown dimensions don't fit AND there is more space on the other side of the trigger.

[2020-06-18 13:54] bigopon commented on #307
This looks nice. Is the positioning service insufficient to handle the requirement of this component?
cc @ben-girardet

[2020-06-18 23:24] MaximBalaganskiy commented on #307
As far as I understood, the service does not limit the dimensions of an element to fit in window. Am I right?

[2020-06-19 19:19] swalters commented on #307
It's a component I would use but I question the name.  Maybe it's my window's background showing, but I always think of a dropdown component displaying a list of values and letting the user choose one.

This is more like a popup to me.

[2020-06-20 02:17] MaximBalaganskiy commented on #307
I'm not insisting on the name :)

[2020-06-20 07:16] ben-girardet commented on #307
You're right @MaximBalaganskiy but the plan is to add this in the service. It would make lots of sense to use the positioning service for such a component.

I can help with that if necessary, only it will be in two weeks or so as I have some personal things going on right now. Let me know if I can help ;-)

[2020-06-21 08:29] MaximBalaganskiy commented on #307
I'll probably leave that service to you guys, don't feel comfortable modifying it.

[2020-06-21 08:30] MaximBalaganskiy commented on #307
What do we do with the dropdown/popup?

[2020-06-21 21:37] bigopon commented on #307
Let's add it in. For the service, maybe this component can get it first, and will join the list of components that use the positioning service. More motivation for @ben-girardet to enhance it.

[2020-06-22 14:06] swalters commented on #307
I have a couple of questions around the naming of this component.   It's not my intention to bog down your work (which I'm sure this is).  I just want to easily explain to someone which component to use when.  This component is so flexible because of the use of <slot> that it can be used for many scenarios.

1. Could this component be made to popup on the left, right, top, or bottom of a target?
2

[2020-06-22 23:43] MaximBalaganskiy commented on #307
1. The component "prefers" bottom-left position. Switching to top and right only if there is not enough space to fit the content AND there is more space on the other side. Max width and height are set to fit into `window`.
2. The popup is closed on any click which reaches the `window`
3. The main difference is auto positioning, hence missing "directions" and "sizes" api. "Autoclose" is also missin

[2020-06-25 04:51] stuartbale commented on #83
@bigopon @zewa666 @MaximBalaganskiy - I have the beginnings of the Tabs working. Here is the html to set it up:
[code]

But I am stuck trying to position the active tab panel so that it fills the container underneath the row of tabs. Currently it puts the tab panel to the right:
![Screen Shot 2020-06-25 at 4 45 41 PM](https://user-images.githubusercontent.com/1775472/85655556-c66c6980-b703-11ea-91

[2020-06-25 23:24] stuartbale commented on #83
OK - I think I know what is happening. The container is set up to use FlexBox, so I need to simply control each section using the appropriate flex styling.

[2020-06-25 23:43] MaximBalaganskiy commented on #83
Have you looked at the tabs example here https://aurelia.io/docs/templating/custom-elements#decorators-for-customizing-aurelia-custom-element-processing ?

[2020-06-25 23:48] stuartbale commented on #83
Thanks @MaximBalaganskiy - that looks quite useful. I'll have a good look at that and see how I can apply it here.

[2020-06-28 11:20] #307 closed

[2020-07-03 04:31] stuartbale commented on #83
For those that are following this issue, here is a mp4 of where I am up to with the Tabs.
Sorry for the low-quality of the gif.

![Aurelia-UX-Tabs](https://user-images.githubusercontent.com/1775472/86432057-94ce5080-bd4a-11ea-96be-fc1eb00ab365.gif)

[2020-07-06 00:09] glyad commented on #265
Sorry for a late answer. Of course I'm running app with 'npm run dev' before I start the VSCode debugger.

[2020-07-20 00:42] glyad opened #316 "Fix ripple position for rtl on ux-checkbox and ux-radio"
I'm submitting a bug report

Library Version:
latest

Operating System:
macOS 10.15.5 Catalina

Node Version:
10.19.0

NPM Version:
6.14.6

Webpack
Latest

Browser:
Chrome Latest

Language:
TypeScript 3.9.5

Current behaviour:

![image](https://user-images.githubusercontent.com/4238205/87889336-bc573580-ca39-11ea-8c9d-239f71776689.png)

![image](https://user-images.githubusercontent.com/4238205/87

[2020-07-20 08:39] glyad commented on #316
Also possible to fix it adding _**direction: ltr !important;**_ rule, since it has a symmetric  glyph.

[2020-07-20 08:54] glyad opened #317 "The ux-switch components has incorrect appearance then RTL (dir="rtl") is enabled"
I'm submitting a bug report

Library Version:
latest

Operating System:
macOS 10.15.5 Catalina

Node Version:
10.19.0

NPM Version:
6.14.6

Webpack
Latest

Browser:
Chrome Latest

Language:
TypeScript 3.9.5

Current behaviour:

![image](https://user-images.githubusercontent.com/4238205/87918573-4d043480-ca7f-11ea-8179-107ef2d79584.png)
![image](https://user-images.githubusercontent.com/4238205/879

[2020-07-20 09:49] glyad opened #318 "The ux-slider has incorrect appearance and behaviour then RTL (dir="rtl") is enabled"
I'm submitting a bug report

Library Version:
latest

Operating System:
macOS 10.15.5 Catalina

Node Version:
10.19.0

NPM Version:
6.14.6

Webpack
Latest

Browser:
Chrome Latest

Language:
TypeScript 3.9.5

Current appearance (buggy):
![image](https://user-images.githubusercontent.com/4238205/87923818-b20f5880-ca86-11ea-9540-a5572d691534.png)

Desired appearance:
With appropriate margin from righ

[2020-07-21 03:47] bigopon commented on #318
@ben-girardet any thoughts on tackling this one?

[2020-07-21 07:29] ben-girardet commented on #318
Good question 👍🏻

Probably need to detect RTL with something like:

[code]

and if RTL invert the slider position.

However this assumes that RTL is defined in CSS which might not be the only way to do so. I think one can also use the `dir` HTML attribute...

Anybody familiar with RTL and how to properly "detect" it from JavaScript ?

[2020-09-01 11:28] bigopon commented on #150
solved by #321

[2020-09-01 11:28] #150 closed

[2020-09-03 22:19] glyad opened #323 "BUG: Not all packages (v.0.24.0) were published properly on npmjs registry"
I'm submitting a bug report

Library Version:
latest

Operating System:
macOS 10.15.5 Catalina

Node Version:
14.15.0

NPM Version:
6.14.7

Webpack
Latest

Browser:
Chrome Latest

Language:
TypeScript 3.9.5

Seems likes as not all of the packages are published properly on npmjs.com:
1. @aurelia-ux/components
2. @aurelia-ux/positioning
3. @aurelia-ux/textarea
4. @aurelia-ux/switch
5. @aurelia-ux/ra

[2020-09-08 12:35] EisenbergEffect commented on #323
Republished all packages at 0.25.0.

[2020-09-08 12:35] #323 closed

[2020-09-20 17:09] johntom opened #325 "**I'm submitting a bug report** upgrade issue"
**I'm submitting a bug report**
OS windows 10
* **Node Version:** 12.18.2
npm6.14.5
yarn 1.22.4
cli 1.3.1
systemjs
I updated a previously created app using cli with systemjs from ux version 0.18.1 to ux version 0.25.0.
Every component except ux-select worked which raised the following error when opening in browser.
[code]
I rolled back ux-select back to 0.18.1 left all the oithers at 0.25.0 and th

[2020-09-21 04:09] bigopon commented on #325
@johntom thanks for reporting this. Any chance you could help build it in dev mode, and copy the error stack trace again? It seems rather difficult to determine what's going on with a minified stack trace.

[2020-09-21 15:05] johntom commented on #325
I'll give it a try in a little while.
I also tested with a new app using 2.0.2 cli with alameda as systemjs is not available. The build works but the select component does not display properly. See attached select wtih 5 states.
![sc-0071](https://user-images.githubusercontent.com/1877376/93783898-466a7880-fbfa-11ea-8754-f6b136a6f2ee.png)
![sc-0072](https://user-images.githubusercontent.com/187737

[2020-09-21 15:34] johntom commented on #325
Hi,
1. I did a au build --dev
2. I then ran node expressapp to open the build
[code]
Please lmk if that's what you wanted and If not please tell me what to do.
TIA
John

[2020-09-24 21:14] johntom opened #327 "**I'm submitting a feature request** Currency Input"
**I'm submitting a feature request**
OS windows 10
Node Version: 12.18.2
npm6.14.5
yarn 1.22.4
cli 1.3.1
systemjs
code https://github.com/bb-harlan/au-input-currency
demo https://bb-harlan.github.io/au-input-currency/

The above repo repersents what I consider a perfect currency input component. The value-converter is only enabled when not editing the input box and does not display in editing mode

[2020-09-25 13:52] johntom commented on #327
I found https://ilikekillnerds.com/2019/04/masked-inputs-in-aurelia-the-easy-and-reliable-way/ and converted ts to js and using mask. Will attempt to modify ux-input to use mask.
John

[2021-08-12 13:46] Alexander-Taran commented on #327
@johntom did you succeed?

[2021-09-18 14:23] ritvikos opened #356 "Consider Including Infinite Loading in Aurelia Blog"
Why to prioritise this feature over pagination and next-previous links?
1. Next-Previous Links and Pagination is bad from SEO perspective as it is difficult for Bing and Google bots to crawl and index pages. If SEO is not given importance, there will be no visitors/traffic and then there is no meaning of adding a blog on site.

2. How will it work technically?
Once the page is loaded and visible t